<%= form_with(model: @quotation) do |form| %>
  <% if @quotation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quotation.errors.count, "error") %> prohibited this backoffice_quotation from being saved:</h2>

      <ul>
        <% @quotation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">

  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :tva %>
    <%= form.check_box :tva %>
  </div>

  <div class="field">
    <%= form.label :deposit_percentage %>
    <%= form.number_field :deposit_percentage %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :is_active %>
    <%= form.check_box :is_active %>
  </div>
  <%#= form.fields_for :presta_designations do |line| %>
<!--    <table class="table">-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th scope="col"><%#= line.label :number %></th>-->
<!--        <th scope="col"><%#= line.label :designation %></th>-->
<!--        <th scope="col"><%#= line.label :quantity %></th>-->
<!--        <th scope="col"><%#= line.label :unit_price %></th>-->
<!--        <th scope="col">Actions</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
      <%#= render "presta_designation_fields", f: line %>
<!--      </tbody>-->
<!--    </table>-->
  <%# end %>
  <%#= link_to_add_fields "#{t('add_new_line')}", form, :presta_designations %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
