
<div class="d-flex nested-fields">
  <div class="mb-3">
    <%= f.label :digit %>
    <%= f.text_field :digit, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :designation, t('designation') %>
    <%= f.text_field :designation, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :quantity, t('quantity') %>
    <%= f.text_field :quantity, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :unit_price, t('unit_price') %>
    <%= f.text_field :unit_price, class: "form-control" %>
  </div>

  <div class="mb-3">
    <label for="action">Actions</label>
    <%= link_to t('remove'), '#', class: "remove_fields form-control" %>
  </div>
  <%= f.hidden_field :_destroy %>

</div>


