<h1>Editing Backoffice Quotation</h1>

<%= render 'backoffice/shared/custom_form',
           model: @quotation,
           object_name: "quotation",
           model_params:@attributes,
           collection: @companies || [],
           form_path: backoffice_quotations_path,
           action: "update",
           method: "patch"
%>
<%= link_to 'Show', backoffice_quotation_path(@quotation) %> |
<%= link_to 'Back', backoffice_quotations_path %>
