<h1>Backoffice Quotations</h1>
<div class="card">
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Validity date</th>
        <th>Amount</th>
        <th>Tva</th>
        <th>Deposit percentage</th>
        <th>Status</th>
        <th>Is active</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @quotations.each do |quotation| %>
        <tr>
          <td><%= quotation.name %></td>
          <td><%= quotation.digit %></td>
          <td><%= quotation.validity_date %></td>
          <td><%= number_to_currency(quotation.total_ttc, :locale => :fr) %></td>
          <td><%= quotation.tva %></td>
          <td><%= quotation.deposit_percentage %></td>
          <td><%= quotation.status %></td>
          <td><%= quotation.is_active %></td>
          <td><%= link_to 'Créer une facture', new_backoffice_invoice_path(quotation: quotation.id) %></td>
          <td><%= link_to 'Show', backoffice_quotation_path(quotation) %></td>
          <td><%= link_to 'Télécharger', backoffice_quotation_pdf_path(quotation), target: '_blank' %></td>
          <td><%= link_to 'Edit', edit_backoffice_quotation_path(quotation) %></td>
          <td><%= link_to 'Destroy', backoffice_quotation_path(quotation), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Backoffice Quotation', new_backoffice_quotation_path, class: "btn btn-primary" %>

  </div>
</div>
