<h1><%= t('new_backoffice_quotation') %></h1>
<%=render 'backoffice/shared/custom_form',
           model: @quotation,
           object_name: "quotation",
           model_params: @attributes,
           form_path: backoffice_quotations_path,
           collection: @collections || [],
           action: "create",
           method: "post"
%>



