<%= render 'backoffice/shared/custom_show',
           model: @quotation,
           object_path: edit_backoffice_quotation_path(@quotation),
           model_params:@attributes,
           back: backoffice_quotations_path
%>
