<%= form_with(model: backoffice_contact) do |form| %>
  <% if backoffice_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(backoffice_contact.errors.count, "error") %> prohibited this backoffice_contact from being saved:</h2>

      <ul>
        <% backoffice_contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname %>
  </div>

  <div class="field">
    <%= form.label :firstname %>
    <%= form.text_field :firstname %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :company %>
    <%= form.select(:company, @companies) %>
  </div>

  <div class="field">
    <%= form.label :is_active %>
    <%= form.check_box :is_active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
