<h1>Editing Backoffice Contact</h1>

<%= render 'backoffice/shared/custom_form',
           model: @contact,
           object_name: "backoffice_contact",
           model_params:@attributes,
           collection: @companies || [],
           form_path: backoffice_contacts_path,
           action: "update",
           method: "patch"
%>

