<h1>Backoffice Contacts</h1>
<div class="card">
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Lastname</th>
        <th>Firstname</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Is active</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @contacts.each do |backoffice_contact| %>
        <tr>
          <td><%= backoffice_contact.lastname %></td>
          <td><%= backoffice_contact.firstname %></td>
          <td><%= backoffice_contact.email %></td>
          <td><%= backoffice_contact.phone %></td>
          <td><%= backoffice_contact.is_active %></td>
          <td><%= link_to 'Show', backoffice_contact_path(backoffice_contact) %></td>
          <td><%= link_to 'Edit', edit_backoffice_contact_path(backoffice_contact) %></td>
          <td><%= link_to 'Destroy', backoffice_contact_path(backoffice_contact), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Backoffice Contact', new_backoffice_contact_path, class: "btn btn-primary" %>
  </div>
</div>

