<h1>New Backoffice Contact</h1>

<%= render 'backoffice/shared/custom_form',
           model: @contact,
           object_name: "contact",
           model_params: @attributes,
           collection: @collections,
           form_path: backoffice_contacts_path,
           action: "create",
           method: "post"
%>

