<%= form_with(model: expertise) do |form| %>
  <% if expertise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(expertise.errors.count, "error") %> prohibited this expertise from being saved:</h2>

      <ul>
        <% expertise.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :level %>
    <%= form.number_field :level %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
