<h1><%=t('edit_backoffice_expertise') %></h1>
<%= render 'backoffice/shared/custom_form',
          model: @expertise,
          object_name: 'expertise',
          model_params:@attributes,
          collection: @collection || [],
          form_path: backoffice_expertises_path,
          action: 'update',
          method: 'patch'
%>