<p id="notice"><%= notice %></p>

<h1>Expertises</h1>

<table>
  <thead>
    <tr>
      <th>Level</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expertises.each do |expertise| %>
      <tr>
        <td><%= expertise.name %></td>
        <td><%= expertise.price %></td>
        <td><%= link_to 'Show', backoffice_expertise_path(expertise) %></td>
        <td><%= link_to 'Edit', edit_backoffice_expertise_path(expertise) %></td>
        <td><%= link_to 'Destroy', backoffice_expertise_path(expertise), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expertise', new_backoffice_expertise_path %>
