<p id="notice"><%= notice %></p>

<p>
  <strong>Level:</strong>
  <%= @expertise.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @expertise.price %>
</p>

<%= link_to 'Edit', edit_expertise_path(@expertise) %> |
<%= link_to 'Back', expertises_path %>
