<%= form_with(model: backoffice_invoice) do |form| %>
  <% if backoffice_invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(backoffice_invoice.errors.count, "error") %> prohibited this backoffice_invoice from being saved:</h2>

      <ul>
        <% backoffice_invoice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number %>
  </div>

  <div class="field">
    <%= form.label :payment_deadline %>
    <%= form.datetime_select :payment_deadline %>
  </div>

  <div class="field">
    <%= form.label :delivery_date %>
    <%= form.datetime_select :delivery_date %>
  </div>

  <div class="field">
    <%= form.label :TVA %>
    <%= form.check_box :TVA %>
  </div>

  <div class="field">
    <%= form.label :deposit %>
    <%= form.check_box :deposit %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
