<h1>Editing Backoffice Income</h1>

<%= render 'backoffice/shared/custom_form',
           model: @income,
           object_name: "backoffice_invoice",
           model_params:@attributes,
           collection: @collections,
           form_path: backoffice_incomes_path,
           action: "update",
           method: "patch"
%>
