<h1><%= t('backoffice_incomes') %></h1>
<div class="card">
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th><%=t('name') %></th>
        <th><%=t('description') %></th>
        <th><%=t('amount') %></th>
        <th><%=t('comment') %></th>
        <th><%=t('income_type') %></th>
        <th><%=t('invoice_id') %></th>
        <th><%=t('creation_date') %></th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @incomes.each do |income| %>
        <tr>
          <td><%= income.name %></td>
          <td><%= income.description %></td>
          <td><%= number_to_currency(income.amount, locals: :fr) %></td>
          <td><%= income.comment %></td>
          <td><%= income.income_type == 'ca' ? t('ca') : t('other') %></td>
          <td><%= !income.invoice.nil? ? income.invoice.name : "Pas de facture associée" %></td>
          <td><%= !income.credit_date.nil? ? income.credit_date.strftime("%d/%m/%Y") :  ""%></td>
          <td><%= link_to 'Show', backoffice_income_path(income) %></td>
          <td><%= link_to 'Edit', edit_backoffice_income_path(income) %></td>
          <td><%= link_to 'Destroy', backoffice_income_path(income), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
     </tbody>
    </table>

    <br>

    <%= link_to t('new_backoffice_income'), new_backoffice_income_path, class: "btn btn-primary" %>
  </div>
</div>

