<h1>New Backoffice Income</h1>

<%= render 'backoffice/shared/custom_form',
           model: @income,
           object_name: "income",
           model_params:@attributes,
           form_path: backoffice_incomes_path,
           collection: @collections || [],
           action: "create",
           method: "post"
%>
