<%= render 'backoffice/shared/custom_show',
           model: @income,
           object_path: edit_backoffice_income_path(@income),
           model_params:@attributes,
           back: backoffice_incomes_path
%>