<%= form_with(model: backoffice_sub_objective) do |form| %>
  <% if backoffice_sub_objective.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(backoffice_sub_objective.errors.count, "error") %> prohibited this backoffice_sub_objective from being saved:</h2>

      <ul>
        <% backoffice_sub_objective.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
