<h1>Editing Backoffice Sub Objective</h1>

<%= render 'backoffice/shared/custom_form',
           model: @sub_objective,
           object_name: "sub_objective",
           model_params:{"name"=>"string", "description"=>"text", "sub_objective_category"=>"string", "value"=>"string", "objective_id"=>"integer", "status_id"=>"integer", "has_tasks" => "boolean"},
           collection: @collections || [],
           form_path: backoffice_sub_objectives_path,
           action: "update",
           method: "patch"
%>
