<h1><%= "#{t('backoffice_sub_objectives')}" %></h1>
<div class="card">
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Category</th>
          <th>Progression</th>
          <th>Value</th>
          <th>Status</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @sub_objectives.each do |sub_objective| %>
          <tr>
            <td><%= sub_objective.name %></td>
            <td><%= sub_objective.description %></td>
            <td><%= sub_objective.sub_objective_category %></td>
            <td>
              <input data-sub_objective_id="<%= sub_objective.id%>" type="number" max="<%= sub_objective.value.to_i %>" value="<%= sub_objective.progression %>" class="form-control border-0 sub_objective_progression">
            </td>
            <td><%= sub_objective.value %></td>
            <td><%= t("#{sub_objective.status.name}") %></td>
            <td><%= link_to 'Show', backoffice_sub_objective_path(sub_objective) %></td>
            <td><%= link_to 'Edit', edit_backoffice_sub_objective_path(sub_objective) %></td>
            <td><%= link_to 'Destroy', backoffice_sub_objective_path(sub_objective), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>

<%= link_to 'New Backoffice Sub Objective', new_backoffice_sub_objective_path %>
<%= javascript_pack_tag 'sub_objective' %>