<p>
  <strong>Name:</strong>
  <%= @sub_objective.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sub_objective.description %>
</p>

<p>
  <strong>Catégorie:</strong>
  <%= @sub_objective.sub_objective_category %>
</p>

<p>
  <strong>Value:</strong>
  <%= @sub_objective.value %>
</p>

<p>
  <strong>Status:</strong>
  <%= @sub_objective.status.name %>
</p>
