<h1>Editing Company</h1>

<%= render 'backoffice/shared/custom_form',
           model: @company,
           object_name: "company",
           model_params: @attributes,
           collection: @collections,
           form_path: backoffice_companies_path,
           action: "update",
           method: "patch"
%>

<%= link_to 'Show', @backoffice_company %> |
<%= link_to 'Back', backoffice_companies_path %>
