<h1>Backoffice Contacts</h1>
<div class="card">
  <div class="card-body table-responsive">
    <table class="table table-striped  ">
      <thead>
      <tr>
        <th>Name</th>
        <th>description</th>
        <th>complement_address</th>
        <th>street_address</th>
        <th>zipcode_address</th>
        <th>city_address</th>
        <th>email</th>
        <th>phone</th>
        <th colspan="3"></th>
      </tr>
      </thead>
      <tbody>
        <% @companies.each do |company| %>
          <tr>
            <td><%= company.name %></td>
            <td><%= company.description %></td>
            <td><%= company.complement_address %></td>
            <td><%= company.street_address %></td>
            <td><%= company.zipcode_address %></td>
            <td><%= company.city_address %></td>
            <td><%= company.email %></td>
            <td><%= company.phone %></td>
            <td><%= link_to 'Show', backoffice_company_path(company) %></td>
            <td><%= link_to 'Edit', edit_backoffice_company_path(company) %></td>
            <td><%= link_to 'Destroy', backoffice_company_path(company), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Backoffice Company', new_backoffice_company_path, class: "btn btn-primary" %>
  </div>
</div>
