<h1><%=t('new_company') %></h1>

<%= render 'backoffice/shared/custom_form',
           model: @company,
           object_name: "company",
           model_params: @attributes,
           collection: @collections,
           form_path: backoffice_companies_path,
           action: "create",
           method: "post"
%>


<%#=# render 'form', company: @company %>

