<%= render 'backoffice/shared/custom_show',
           model: @company,
           object_path: edit_backoffice_company_path(@company),
           model_params:@attributes,
           back: backoffice_companies_path
%>