<h1>Students</h1>
<div class="card">
  <div class="card-body table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Lastname</th>
        <th>Firstname</th>
        <th>Email</th>
        <th>Dashboard url</th>
        <th>Course begin date</th>
        <th>Course end date</th>
        <th>Type</th>
        <th>Parcours</th>
        <th>Projet</th>
        <th>Nombre de sessions réalisées</th>
        <th>Comment</th>
        <th>Is active</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= student.lastname %></td>
          <td><%= student.firstname %></td>
          <td><%= student.email %></td>
          <td><%= link_to "Lien dashbord OC",student.dashboard_url, target: "_blank" %></td>
          <td><%= student.course_begin_date %></td>
          <td><%= student.course_end_date %></td>
          <td><%= student.course_type %></td>
          <td><%= student.course.try { |c| c.name}%></td>
          <td><%= student.project.try { |c| c.name}%></td>
          <td><%= student.oc_sessions.size %></td>
          <td><%= student.comment %></td>
          <td><%= student.is_active %></td>
          <td><%= link_to 'Show', backoffice_student_path(student) %></td>
          <td><%= link_to 'Edit', edit_backoffice_student_path(student) %></td>
          <td><%= link_to 'Destroy', backoffice_student_path(student), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Student', new_backoffice_student_path %>
  </div>
</div>