<h1><%=t('new_backoffice_student') %></h1>
<%= render 'backoffice/shared/custom_form',
          model: @student,
          object_name: 'student',
          model_params:@attributes,
          collection: @collection || [],
          form_path: backoffice_students_path,
          action: 'create',
          method: 'post'
%>