<p id="notice"><%= notice %></p>

<p>
  <strong>Lastname:</strong>
  <%= @student.lastname %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @student.firstname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Dashboard url:</strong>
  <%= @student.dashboard_url %>
</p>

<p>
  <strong>Course begin date:</strong>
  <%= @student.course_begin_date %>
</p>

<p>
  <strong>Course end date:</strong>
  <%= @student.course_end_date %>
</p>

<p>
  <strong>Type:</strong>
  <%= @student.course_type %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @student.comment %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @student.is_active %>
</p>

<%= link_to 'Edit', edit_backoffice_student_path(@student) %> |
<%= link_to 'Back', backoffice_students_path %>
