<h1><%=t('edit_backoffice_sub_task') %></h1>
<%= render 'backoffice/shared/custom_form',
          model: @sub_task,
          object_name: 'sub_task',
          model_params:@attributes,
          collection: @collection || [],
          form_path: backoffice_sub_tasks_path,
          action: 'update',
          method: 'patch'
%>