<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sub_task.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @sub_task.status_id %>
</p>

<p>
  <strong>Task:</strong>
  <%= @sub_task.task_id %>
</p>

<%= link_to 'Edit', edit_sub_task_path(@sub_task) %> |
<%= link_to 'Back', sub_tasks_path %>
