<%= form_with(model: oc_session) do |form| %>
  <% if oc_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(oc_session.errors.count, "error") %> prohibited this oc_session from being saved:</h2>

      <ul>
        <% oc_session.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :session_date %>
    <%= form.datetime_select :session_date %>
  </div>

  <div class="field">
    <%= form.label :session_type %>
    <%= form.text_field :session_type %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
