<h1><%=t('edit_backoffice_oc_session') %></h1>
<%= render 'backoffice/shared/custom_form',
          model: @oc_session,
          object_name: 'oc_session',
          model_params:@attributes,
          collection: @collection || [],
          form_path: backoffice_oc_sessions_path,
          action: 'update',
          method: 'patch'
%>