<p id="notice"><%= notice %></p>

<h1>Oc Sessions</h1>

<table>
  <thead>
    <tr>
      <th>Session date</th>
      <th>Session type</th>
      <th>Status</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @oc_sessions.each do |oc_session| %>
      <tr>
        <td><%= oc_session.session_date %></td>
        <td><%= oc_session.session_type %></td>
        <td><%= oc_session.status %></td>
        <td><%= oc_session.student_id %></td>
        <td><%= link_to 'Show', backoffice_oc_session_path(oc_session) %></td>
        <td><%= link_to 'Edit', edit_oc_session_path(oc_session) %></td>
        <td><%= link_to 'Destroy', backoffice_oc_session_path(oc_session), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Oc Session', new_backoffice_oc_session_path %>
