<p id="notice"><%= notice %></p>

<p>
  <strong>Session date:</strong>
  <%= @oc_session.session_date %>
</p>

<p>
  <strong>Session type:</strong>
  <%= @oc_session.session_type %>
</p>

<p>
  <strong>Status:</strong>
  <%= @oc_session.status %>
</p>

<p>
  <strong>Student:</strong>
  <%= @oc_session.student_id %>
</p>

<%= link_to 'Edit', edit_oc_session_path(@oc_session) %> |
<%= link_to 'Back', oc_sessions_path %>
