<p id="notice"><%= notice %></p>

<h1>Recurrent Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Periodicity</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Is active</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recurrent_objects.each do |recurrent_object| %>
      <tr>
        <td><%= recurrent_object.periodicity %></td>
        <td><%= recurrent_object.start_date %></td>
        <td><%= recurrent_object.end_date %></td>
        <td><%= recurrent_object.is_active %></td>
        <td><%= recurrent_object.comment %></td>
        <td><%= link_to 'Show', recurrent_object %></td>
        <td><%= link_to 'Edit', edit_recurrent_object_path(recurrent_object) %></td>
        <td><%= link_to 'Destroy', recurrent_object, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recurrent Transaction', new_recurrent_object_path %>
