<p id="notice"><%= notice %></p>

<p>
  <strong>Periodicity:</strong>
  <%= @recurrent_object.periodicity %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @recurrent_object.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @recurrent_object.end_date %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @recurrent_object.is_active %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @recurrent_object.comment %>
</p>

<%= link_to 'Edit', edit_recurrent_object_path(@recurrent_object) %> |
<%= link_to 'Back', recurrent_objects_path %>
