<h1>Editing Backoffice Invoice</h1>

<%= render 'backoffice/shared/custom_form',
           model: @invoice,
           object_name: "backoffice_invoice",
           model_params:@attributes,
           collection: @companies || [],
           form_path: backoffice_invoices_path,
           action: "update",
           method: "patch"
%>
<%= link_to 'Show', @backoffice_invoice %> |
<%= link_to 'Back', backoffice_invoices_path %>
