<h1>Backoffice Invoices</h1>
<div class="card">
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Numéro de facture</th>
        <th>Société</th>
        <th>Devis associé</th>
        <th>Date de paiement</th>
        <th>Date de livraison</th>
        <th>TVA</th>
        <th>Facture d'accompte</th>
        <th>Montant</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @invoices.each do |invoice| %>
        <%= form_with(url: backoffice_invoice_path(invoice), method: "patch") do |f| %>
          <tr>
            <td class="id" id="<%= invoice.id %>" style="display: none;"></td>
            <td><%= invoice.digit %></td>
            <td><%= invoice.company.name %></td>
            <td><%=link_to invoice.quotation.name, backoffice_quotation_path(invoice.quotation.id) %></td>
            <td><%= invoice.payment_deadline %></td>
            <td><%= invoice.delivery_date %></td>
            <td><%= invoice.TVA %></td>
            <td><%= invoice.deposit %></td>
            <td><%= number_to_currency(invoice.quotation.total_ttc, locale: :fr) %></td>
            <td><%= select_tag "invoice[status]", options_for_select(Invoice.statuses.map {|key, value| [key.titleize, Invoice.statuses.key(value)]}, invoice.status), {:class =>"form-control status w-auto"} %></td>
            <td><%= link_to 'Show', backoffice_invoice_path(invoice) %></td>
            <td><%= link_to 'Télécharger', backoffice_invoice_pdf_path(invoice), target: '_blank' %></td>
            <td><%= link_to 'Edit', edit_backoffice_invoice_path(invoice) %></td>
            <td><%= link_to 'Destroy', backoffice_invoice_path(invoice), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <td>
              <div class="modal fade" id="add_incomes_modal_<%=invoice.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Associer les entrées à la facture payée n° <%= invoice.digit %></h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                      <div class="modal-body">
                        <% @incomes.each do |income| %>
                          <div class="input-group mb-3">
                            <div class="input-group-text">
                              <input class="form-check-input mt-0 income_checkbox" id="<%= income.id %>" type="checkbox" name="invoice[income_ids][]"  value="<%= income.id%>" aria-label="Checkbox for following text input">
                            </div>
                            <input type="text" class="form-control income_value" aria-label="Text input with checkbox" readonly value="<%= income.name%> : <%= number_to_currency(income.amount, local: :fr) %>" data-amount="<%= income.amount %>">
                          </div>
                        <% end %>
                        <div class="input-group mb-3">
                          <div class="input-group-text">
                            <input class="form-check-input mt-0 income_checkbox"  type="checkbox" name="invoice[income_ids][]"  value="" aria-label="Checkbox for following text input">
                          </div>
                          <input type="text" class="form-control income_value" aria-label="Text input with checkbox" readonly value="Aucune facture à associer">
                        </div>
                      </div>
                      <div class="modal-footer">
                        <p>Montant total:</p><span id="total_amount"></span>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                      </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
    <br>
    <%= link_to 'New Backoffice Invoice', new_backoffice_invoice_path, class: "btn btn-primary" %>
  </div>
</div>

