<h1>New Backoffice Invoice</h1>

<%= render 'backoffice/shared/custom_form',
           model: @invoice,
           object_name: "invoice",
           model_params:@attributes,
           form_path: backoffice_invoices_path,
           collection: @collections || [],
           action: "create",
           method: "post"
%>
