<%= render 'backoffice/shared/custom_show',
           model: @invoice,
           object_path: edit_backoffice_invoice_path(@invoice),
           model_params:@attributes,
           back: backoffice_invoices_path
%>