<div class="row">
  <section id="about_me">
    <h2>A mon sujet</h2>
    <div class="row">
      <div class="col-md-12 p-5">
        <p>Bonjour à tous !</p>
        <p>Moi c'est Julie, 33 ans, installée sur Antibes depuis deux ans maintenant.</p>
        <p>Originaire de la <a href="https://www.ardeche.fr/">patrie du marron glacé</a>, j'ai fait mes premières armes en tant que commercial dans le domaine de l'informatique. Près de 10 ans plus tard, après avoir travaillé pour des grossistes réseaux, infrastructures, sociétés de service ..., j'ai décidé de passer à un nouveau challenge: le développement informatique !</p>
        <p>Grâce à une <a href="https://cefii.fr/formations-professionnelles/formation-developpeur-web-a-distance.html">formation faite à distance</a>  d'un an, j'arrive sur le marché de la programmation en 2017 très enthousiaste et pleine d'énergie.</p>
        <p>Quatre ans plus tard, je décide de capitaliser mes expériences en tant qu'ingénieur commercial, responsable de Business Unit et développeur pour créer JVA-WEB, mon auto-entreprise.</p>
        <p>Depuis, j'ai la chance de pouvoir exercer toutes les activités que j'aime.</p>
        <p>Je suis ainsi mentor pour OpenClassrooms pour les parcours "Attaché commercial" et "Développeur web".</p>
        <p>Je développe des sites et applications internet pour une clientèle TPE/PME.</p>
        <p>Je réponds à des missions de courtes et longues durées proposées via différents canaux comme <a href="https://www.malt.fr/profile/juliedaprato">Malt</a> et <a href="https://www.linkedin.com/in/julie-da-prato-b5277b72">Linkedin</a> par exemple.</p>
        <p>Et parce que j'aime et souhaite retrouver le contact client et la gestion de projet, je me forme sur le métier de chef de projet digital avec OpenClassrooms depuis peu.</p>
        <p>Pour moi la vie est une aventure, et je souhaite en profiter un maximum !</p>
        <p>Pour plus d'informations, n'hésitez pas à me <a href="#contact">contacter</a> ou à télécharger mon CV</p>
      </div>
    </div>
  </section>
</div>