<div class="row">
  <section id="contact">
    <h2>Formulaire de contact</h2>
    <%= form_for @message, :url => contact_path do |f| %>
      <div class="mb-3">
        <%= f.label "Adresse e-mail", class:"form-label" %>
        <%= f.text_field :contact_mail, class:"form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label "Sujet de votre message", class:"form-label" %>
        <%= f.text_field :subject, class:"form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label "Votre message", class:"form-label" %>
        <%= f.text_area :message, class:"form-control" %>
      </div>
      <div class="mb-3">
        <%#= recaptcha_tags theme: 'dark' %>
      </div>
      <%= f.submit "Envoyer !", class:"btn btn-primary"%>
    <% end %>
  </section>
</div>
