  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 p-0">
        <div class="banner">
          <a href="#" class="typewrite" data-period="2000" data-type='["Développement web", "Sites internets", "Référencement", "Accompagnement", "Formation"]'>
          </a>
        </div>
        </div>
    </div>
    <%= render template: "home/services" %>
    <%= render template: "home/projects" %>
    <%= render template: "home/about" %>
    <%= render template: "home/recommandations" %>
    <%= render template: "home/contact" %>
  </div>
</main>
<footer>
  <div class="about p-5">
    <h4>A propos</h4>
    <p>JVA-WEB micro-entreprise</p>
    <p>N°TVA intracommunautaire : FR93892540386</p>
    <p>N°SIRET: 89254038600018</p>
    <p>Icônes conçues par <a href="https://www.freepik.com" target="_blank" title="Freepik">Freepik</a></p>
  </div>
  <div class="social text-center p-5">
    <h4>Retrouvez-moi sur </h4>
    <a href="https://www.linkedin.com/in/julie-da-prato-b5277b72/" target="_blank">
      <%= image_pack_tag "media/images/social_icons/linkedin.png" %>
    </a>
    <a href="https://www.malt.fr/profile/juliedaprato" target="_blank">
      <%= image_pack_tag "media/images/social_icons/malt.svg" %>
    </a>
  </div>
  <p class="text-center">Copyright JVA-Web 2021</p>
</footer>


