<div class="row">
  <section id="projects">
    <h2>Projets</h2>
    <p class="leader">Un aperçu des derniers projets sur lesquels j'ai travaillé</p>
    <div class="project">
      <div class="card bg-dark text-white">
        <%= image_pack_tag "media/images/projects/giftify.jpg", alt:"giftify", class:"card-img" %>
        <div class="card-img-overlay">
          <h3 class="card-title text-center">Giftify</h3>
          <p class="card-text">Giftify est un site qui permet aux utilisateurs enregistrés de créer des cagnottes et ou soutenir des cagnottes déjà présentes. Les paiements sont gérés par <a href="">Mangopay.</a></p>
          <h4>Contexte technique en bref</h4>
          <ul>
            <li>Application Ruby On Rails version 2.2.7</li>
            <li>Base de données PostGreSQL</li>
            <li>Hébergement sur Heroku</li>
          </ul>
          <h4>Missions réalisées en bref</h4>
          <ul>
            <li>Mise à jour de l'application (version Ruby 2.2.7 vers 3.0.0)</li>
            <li>Mise en conformité du code</li>
            <li>Réécriture des migrations</li>
            <li>Audit de charge et résolution des problèmes liés aux fuites mémoires</li>
            <li>Résolution problème de paiement et bugs divers</li>
            <li>Automatisation de la traduction </li>
            <li>Accompagnement et formation</li>
            <li>Rédaction d'une documentation</li>
          </ul>
        </div>
      </div>
      <div class="card bg-dark text-white">
        <%= image_pack_tag "media/images/projects/aidants.jpg", alt:"aidants", class:"card-img" %>
        <div class="card-img-overlay">
          <h3 class="card-title text-center">Les Aidants</h3>
          <p class="card-text">Le site des aidants est un site qui met à disposition via un moteur de recherche les prestations auxquels ont droit les aidants de la Métropole de Nice. Ce projet est composé d'un site front où l'on retrouve les prestations, la liste des partenaires ... ainsi qu'un espace professionnel dédié aux partenaires, et enfin un backoffice pour les administrateurs du site.</p>
          <h4>Contexte technique en bref</h4>
          <ul>
            <li>Application Ruby On Rails version 2.7.1</li>
            <li>Base de données PostGreSQL</li>
            <li>Hébergement Linux</li>
          </ul>
          <h4>Missions réalisées en bref</h4>
          <ul>
            <li>Développement de l'application front</li>
            <li>Création d'un moteur de recherche dédié</li>
            <li>Développement d'un backoffice complet avec personnalisation du site internet et gestion des statistiques</li>
            <li>Développement d'un espace professionnel</li>
            <li>Gestion de mailing</li>
            <li>Rédaction d'une documentation</li>
          </ul>
        </div>
      </div>
      <div class="card bg-dark text-white">
        <%= image_pack_tag "media/images/projects/immo.jpg", alt:"immo", class:"card-img" %>
        <div class="card-img-overlay">
          <h3 class="card-title text-center">Immobilier Nice Côte d'Azur</h3>
          <p class="card-text">Le site Immobilier Nice Côte d'Azur permet de mettre à disposition des biens en location et vente à la manière de "Se Loger" par exemple. IL possède un front et un backoffice qui permet la gestion des biens mais aussi des différentes offres.</p>
          <h4>Contexte technique en bref</h4>
          <ul>
            <li>Application Ruby On Rails version 2.7.1</li>
            <li>Base de données PostGreSQL</li>
            <li>Hébergement Linux</li>
          </ul>
          <h4>Missions réalisées en bref</h4>
          <ul>
            <li>Développement d'un module de gestion des offres dématérialisées </li>
            <li>Ajout de statistiques</li>
          </ul>
        </div>
      </div>
      <div class="card bg-dark text-white">
        <%= image_pack_tag "media/images/projects/petitemoutaine.png", alt:"immo", class:"card-img" %>
        <div class="card-img-overlay">
          <h3 class="card-title text-center">Petite moutaine</h3>
          <p class="card-text">Petite Moutaine c'est une belle aventure laineuse et des créations uniques. Un site front présente l'artisan et ses produits, et elle a accès à un backoffice qui permet de gérer l'ajout de produit, ses commandes en ligne etc ...</p>
          <h4>Contexte technique en bref</h4>
          <ul>
            <li>Application Ruby On Rails version 3.0.1</li>
            <li>Base de données PostGreSQL</li>
            <li>Hébergement Heroku</li>
          </ul>
          <h4>Missions réalisées (en cours !)</h4>
          <ul>
            <li>Développement de l'application front</li>
            <li>Développement d'un backoffice</li>
            <li>...</li>
          </ul>
        </div>
      </div>
      <div class="card bg-dark text-white">
        <%= image_pack_tag "media/images/projects/cheznatty.png", alt:"immo", class:"card-img" %>
        <div class="card-img-overlay">
          <h3 class="card-title text-center">Chez Natty</h3>
          <p class="card-text">Chez Natty est un site wordpress vitrine qui présente l'activité d'un coiffeur fictif sur Antibes. Il est composé d'un module de prise de rendez-vous et d'un blog.</p>
          <h4>Contexte technique en bref</h4>
          <ul>
            <li>Wordpress</li>
            <li>Base de données MySQL</li>
            <li>Hébergement Heroku</li>
          </ul>
          <h4>Missions réalisées en bref</h4>
          <ul>
            <li>Développement d'un site vitrine pour coiffeur</li>
            <li>Ajout d'un module de prise de rendez-vous</li>
            <li>...</li>
          </ul>
        </div>
      </div>
      <div class="card bg-dark text-white">
        <%= image_pack_tag "media/images/projects/jvaweb.png", alt:"immo", class:"card-img" %>
        <div class="card-img-overlay">
          <h3 class="card-title text-center">JVA Web</h3>
          <p class="card-text">JVA Web est mon dernier né ! Il comprend un site front et un backoffice qui n'a de cesse de s'enrichir. Il me permet de gérer le tout venant (devis, facturation, déclaration URSAFF etc...) qui concerne la plupart des freelances.</p>
          <h4>Contexte technique</h4>
          <ul>
            <li>Ruby 3.0.1</li>
            <li>Base de données PostGreSQL</li>
            <li>Hébergement Heroku</li>
          </ul>
          <h4>Missions réalisées (en cours !)</h4>
          <ul>
            <li>Développement d'un site front</li>
            <li>Développement d'un backoffice</li>
            <li>Intégration multiples API</li>
            <li>Développement de modules de gestion</li>
            <li>...</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

</div>
