<div class="row recommandations">
  <div class="col-lg-12 p-0">
    <div class="glide" id="reco">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          <li class="glide__slide">
            <a target="_blank" href="https://www.malt.fr/profile/juliedaprato#profileMissions">
              <p>Notre collaboration a été fructueuse !</p>
              <p>"Julie est une développeuse qui va au delà de la mission qui lui est confiée, apporte de la plus-value sur les process du client et conseille véritablement sur ses choix techniques et évolutions nécessaires pour la bonne performance de l'application"</p>
              <p>Eric N., directeur de Fiatope</p>
            </a>
          </li>
          <li class="glide__slide">
            <a target="_blank" href="https://www.linkedin.com/in/julie-da-prato-b5277b72">
              <p>Notre collaboration a été fructueuse !</p>
              <p>"Dans son travail chez EnergIT SAS, Julie s'est affirmée par son esprit d'équipe, son sens du détail et sa volonté de réussir. Julie a été une personne clef pour notre société."</p>
              <p>Laurent V., directeur d'EnergIT</p>
            </a>
          </li>
          <li class="glide__slide">
            <a target="_blank" href="https://www.malt.fr/profile/juliedaprato#profileRecommendations">
              <p>Notre collaboration a été fructueuse !</p>
              <p>"Julie a des qualités humaines et professionnelles remarquables. Elle est très investie, contentieuse et force de propositions. Ce fut un réel plaisir de travailler avec elle."</p>
              <p>Patricia C., chef de projet Métropole de Nice Côte d'Azur</p>
            </a>
          </li>
        </ul>
        <% if !browser.device.mobile? %>
          <div class="glide text-center p-5">
            <div class="glide__arrows">
              <button class="glide__arrow glide__arrow--left">Précédent</button>
              <button class="glide__arrow glide__arrow--right">Suivant</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>