<div class="row">
  <section id="services">
    <h2>Services</h2>
    <p class="leader">Une offre flexible pour répondre à des missions courtes ou longues durées</p>
    <div class="demo-card-wrapper">
      <div class="demo-card demo-card--step1">
        <div class="head">
          <div class="number-box">
            <span>01</span>
          </div>
          <h2><span class="small">Web</span>Application</h2>
        </div>
        <div class="body">
          <p>Aujourd'hui avoir un site internet est quasi incontournable, surtout en ces périodes de crise où <a target="_blank" href="https://www.journaldunet.com/ebusiness/commerce/1495689-l-e-commerce-au-temps-du-covid-19/#:~:text=Aujourd'hui%2C%20l'e,de%20dollars%20cette%20m%C3%AAme%20ann%C3%A9e.">l'achat sur internet n'a jamais autant été aussi important.</a></p>
          <p>Vous souhaitez vous mettre au web mais avez peur d'aller trop vite ? Aucun souci vous pouvez parfaitement y aller par étape en commençant par le développement d'un <a href="#">site vitrine</a> qui présente votre activité, puis évoluer petit à petit vers un <a href="#">site marchand</a>.</p>
          <%= image_pack_tag "media/images/icons_front/cloud.svg" %>
        </div>
      </div>

      <div class="demo-card demo-card--step2">
        <div class="head">
          <div class="number-box">
            <span>02</span>
          </div>
          <h2><span class="small">Web</span> Security</h2>
        </div>
        <div class="body">
          <p>Je m'appuie sur le référentiel <a href="https://fr.wikipedia.org/wiki/Open_Web_Application_Security_Project" target="_blank">OWASP</a> ainsi qu'une veille régulière afin d'être au plus proche des meilleures pratiques du WEB en terme de sécurité.</p>
          <p class="card-text">Je peux vous proposer un audit de sécurité si vous le souhaitez.</p>
          <%= image_pack_tag "media/images/icons_front/encrypted.svg" %>
        </div>
      </div>

      <div class="demo-card demo-card--step3">
        <div class="head">
          <div class="number-box">
            <span>03</span>
          </div>
          <h2><span class="small">Web</span> Adaptation</h2>
        </div>
        <div class="body">
          <p>J'interviens pour des missions de courtes et longues durées afin de vous aider dans vos projets. </p>
          <p>Pour chaque prestation, je n'hésite pas à vous apporter mon conseil et à auditer si nécessaire l'application en amont.</p>
          <p class="card-text">Je rédige par ailleurs toujours une documentation claire et exhaustive que je vous remets en fin de mission.</p>
          <%= image_pack_tag "media/images/icons_front/webpage.svg" %>
        </div>
      </div>

      <div class="demo-card demo-card--step4">
        <div class="head">
          <div class="number-box">
            <span>04</span>
          </div>
          <h2><span class="small">Web</span> SEO</h2>
        </div>
        <div class="body">
          <p class="card-text">Je me forme régulièrement aux nouvelles techniques de référencement afin de vous apporter les meilleures solutions pour que votre site soit visible dans la jungle qu'est internet.</p>
          <p class="card-text">Je m'appuie sur des outils réputés et fiables afin de diagnostiquer au mieux les problèmes que vous pourriez rencontrer</p>
          <%= image_pack_tag "media/images/icons_front/bar_graph.svg" %>
        </div>
      </div>

      <div class="demo-card demo-card--step5">
        <div class="head">
          <div class="number-box">
            <span>05</span>
          </div>
          <h2><span class="small">Web</span>Design</h2>
        </div>
        <div class="body">
          <p>Je travaille en collaboration avec une graphiste pour créer vos identités visuelles, logos et chartes graphiques.</p>
          <p>Je peux intégrer des templates comme créer un design from scratch.</p>
          <%= image_pack_tag "media/images/icons_front/link.svg" %>
        </div>
      </div>
    </div>
  </section>
</div>
