<h1>Mettre à jour un tag</h1>

<%= render 'backoffice/shared/custom_form',
           model: @tag,
           object_name: "backoffice_tag",
           model_params:@attributes,
           collection: @companies || [],
           form_path: backoffice_tags_path,
            action: "update",
            method: "patch"
%>
