<h1>Backoffice Projects</h1>
<div class="card">
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Color</th>
      </tr>
      </thead>

      <tbody>
      <% @tags.each do |tag| %>
        <tr>
          <td><%= tag.name %></td>
          <td><%= tag.color %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Backoffice Project', new_backoffice_project_path, class: "btn btn-primary" %>
  </div>
</div>

