<h1><%=t('new_backoffice_tag') %></h1>

<%= render 'backoffice/shared/custom_form',
           model: @tag,
           object_name: "tag",
           model_params:@attributes,
           collection: @collections || [],
           form_path: backoffice_tags_path,
           action: "create",
           method: "post"
%>

