<%= render 'backoffice/shared/custom_show',
           model: @ŧag,
           object_path: edit_backoffice_tag_path(@tag),
           model_params:@attributes,
           back: backoffice_tags_path
%>
