<h1>Editing Expense</h1>

<%= render 'backoffice/shared/custom_form',
           model: @expense,
           object_name: "backoffice_expense",
           model_params:@attributes,
           collection: @collections,
           form_path: backoffice_expenses_path,
           action: "update",
           method: "patch"
%>

