<h1>Mes dépenses</h1>
<div class="card">
  <div class="card-body">
    <table class="table table-striped table-responsive">
      <thead>
      <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Montant</th>
        <th>Commentaire</th>
        <th>Récurrence</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @expenses.each do |expense| %>
        <tr>
          <td><%= expense.name %></td>
          <td><%= expense.description %></td>
          <td><%= number_to_currency(expense.amount, local: :fr) %></td>
          <td><%= expense.comment %></td>
          <td><%= !expense.recurrent_object.nil? ? "<i class='fas fa-check'></i>".html_safe : "<i class='fas fa-times'></i>".html_safe %></td>
          <td><%= link_to 'Voir', backoffice_expense_path(expense) %></td>
          <td><%= link_to 'Editer', edit_backoffice_expense_path(expense) %></td>
          <td><%= link_to 'Supprimer',  backoffice_expense_path(expense), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <br>
    <%= link_to 'Ajouter une nouvelle dépense', new_backoffice_expense_path, class: "btn btn-primary" %>
  </div>
</div>
