<h1>Ajouter une nouvelle sortie</h1>

<%= render 'backoffice/shared/custom_form',
           model: @expense,
           object_name: "expense",
           model_params:@attributes,
           form_path: backoffice_expenses_path,
           collection: @collections || [],
           action: "create",
           method: "post"
%>