<%= render 'backoffice/shared/custom_show',
           model: @expense,
           object_path: edit_backoffice_expense_path(@expense),
           model_params:@attributes,
           back: backoffice_expenses_path
%>

