<%= form_with(model: backoffice_achievement) do |form| %>
  <% if backoffice_achievement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(backoffice_achievement.errors.count, "error") %> prohibited this backoffice_achievement from being saved:</h2>

      <ul>
        <% backoffice_achievement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
