<h1>Editing Backoffice Achievement</h1>

<%= render 'backoffice/shared/custom_form',
           model: @backoffice_achievement,
           object_name: "backoffice_achievement",
           model_params:@attributes,
           collection: @companies || [],
           form_path: backoffice_achievements_path,
           action: "update",
           method: "patch"
%>
<%= link_to 'Show', @backoffice_achievement,class: "btn btn-primary" %> |
<%= link_to 'Back', backoffice_achievements_path ,class: "btn btn-primary"%>
