<p id="notice"><%= notice %></p>

<h1>Backoffice Achievements</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @backoffice_achievements.each do |backoffice_achievement| %>
      <tr>
        <td><%= backoffice_achievement.value %></td>
        <td><%= link_to 'Show', backoffice_achievement,class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_backoffice_achievement_path(backoffice_achievement),class: "btn btn-primary" %></td>
        <td><%= link_to 'Destroy', backoffice_achievement, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Backoffice Achievement', new_backoffice_achievement_path %>
