<h1>New Backoffice Achievement</h1>

<%= render 'backoffice/shared/custom_form',
           model: @backoffice_company,
           object_name: "backoffice_achievement",
           model_params:@attributes,
           collection: @companies || [],
           form_path: backoffice_achievments_path,
           action: "create",
           method: "post"
%>
