<%= render 'backoffice/shared/custom_show',
           model: @backoffice_achievement,
           object_path: edit_backoffice_achievement_path(@backoffice_achievement),
           model_params:@attributes,
           back: backoffice_achievements_path
%>
