<h1>Editing Backoffice Project</h1>

<%= render 'backoffice/shared/custom_form',
           model: @project,
           object_name: "backoffice_project",
           model_params:@attributes,
           collection: @companies || [],
           form_path: backoffice_projects_path,
            action: "update",
            method: "patch"
%>
