<h1>Backoffice Projects</h1>
<div class="card">
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Status</th>
        <th>Is active</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.name %></td>
          <td><%= project.description %></td>
          <td><%= project.start_date %></td>
          <td><%= project.end_date %></td>
          <td><%= project.status %></td>
          <td><%= project.is_active %></td>
          <td><%= link_to 'Show', backoffice_project_path(project) %></td>
          <td><%= link_to 'Edit', edit_backoffice_project_path(project) %></td>
          <td><%= link_to 'Destroy', backoffice_project_path(project), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Backoffice Project', new_backoffice_project_path, class: "btn btn-primary" %>
  </div>
</div>

