<h1><%=t('new_backoffice_project') %></h1>

<%= render 'backoffice/shared/custom_form',
           model: @project,
           object_name: "project",
           model_params:@attributes,
           collection: @companies || [],
           form_path: backoffice_projects_path,
           action: "create",
           method: "post"
%>

