<%= render 'backoffice/shared/custom_show',
           model: @project,
           object_path: edit_backoffice_project_path(@project),
           model_params:@attributes,
           back: backoffice_projects_path
%>
