<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>JVA-WEB a reçu un message !</h1>
    <h2>Email :</h2><%= @mail %>
    <h2>Sujet :</h2><%= @subject %>
    <h2>Message :</h2>
    <p><%= @message.html_safe %></p>
  </body>
</html>