<p id="notice"><%= notice %></p>

<h1>Modules</h1>
<div class="row">
  <div class="col-md-6">
    <div class="card" style="background: white">
      <%= image_pack_tag "media/images/logo_urssaf.png",  alt:"logo URSSAF" %>
      <div class="card-body">
        <h5 class="card-title">URSSAF</h5>
        <p class="card-text">Grâce à ce module, déclarer et payer vos cotisations directement via votre application.</p>
        <a href="#" class="btn btn-primary">Configurer le module</a>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card" style="background: white">
      <%= image_pack_tag "media/images/logo_pe.png",  alt:"logo Pôle Emploi", class: "w-50 m-auto" %>
      <div class="card-body">
        <h5 class="card-title">Pôle Emploi</h5>
        <p class="card-text">Grâce à ce module, consulter l'état de vos ARE, leur montant et le nombre de jours d'aide restants.</p>
        <a href="#" class="btn btn-primary">Configurer le module</a>
      </div>
    </div>
  </div>

  <br>
</div>


<%= link_to 'New Unit', new_backoffice_unit_path %>
