<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @unit.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @unit.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @unit.status %>
</p>

<p>
  <strong>Login:</strong>
  <%= @unit.login %>
</p>

<p>
  <strong>Password:</strong>
  <%= @unit.password %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @unit.is_active %>
</p>

<p>
  <strong>References:</strong>
  <%= @unit.references %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
