<h1>Editing Backoffice Course</h1>

<%= render 'backoffice/shared/custom_form',
           model: @contact,
           object_name: "backoffice_course",
           model_params:@attributes,
           collection: @companies || [],
           form_path: backoffice_courses_path,
           action: "update",
           method: "patch"
%>