<h1>Courses</h1>

<div class="card">
  <div class="card-body table-responsive">
    <table class="table table-striped  ">
      <thead>
      <tr>
        <th>Slug</th>
        <th>Name</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @courses.each do |course| %>
        <tr>
          <td><%= course.slug %></td>
          <td><%= course.name %></td>
          <td><%= course.description %></td>
          <td><%= link_to 'Show', backoffice_course_path(course) %></td>
          <td><%= link_to 'Edit', edit_backoffice_course_path(course) %></td>
          <td><%= link_to 'Destroy', backoffice_course_path(course), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Course', new_backoffice_course_path %>
  </div>
</div>