<h1><%=t('new_backoffice_course') %></h1>

<%= render 'backoffice/shared/custom_form',
           model: @course,
           object_name: "course",
           model_params:@attributes,
           collection: @companies || [],
           form_path: backoffice_courses_path,
           action: "create",
           method: "post"
%>
