<p id="notice"><%= notice %></p>

<p>
  <strong>Slug:</strong>
  <%= @course.slug %>
</p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<%= link_to 'Edit', edit_backoffice_course_path(@course) %> |
<%= link_to 'Back', backoffice_courses_path %>
