@import "bootstrap";

/* Color Palettes */
$primary-color: #205a8a;
$secondary-color: #69A3BE;
$third-color: #2D81A6;
$fourth-color: #177AA2;
$fifth-color: #3C8BAB;
$success: #34a0a4;
$danger: #e5383b;


body {
  background: $fifth-color;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: $secondary-color;
}

a:hover {
  color: #ffffff;
}

.nav-item a{
  color: $primary-color !important;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}
.nav-item a:hover {
  border-bottom: 2px solid $secondary-color;
}

.navbar-brand {
  background: none;
}

#navbarNav {
  justify-content: flex-end;
}

.banner {
  background: url('../images/sliders/slider2.jpg');
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner > a {
  font-size: 45px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bolder;
}

.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#projects .project > .card {
  width: 40%;
  height: 25%;
  margin: 1%;
  cursor: pointer;
}

#projects .project > .card .card-img-overlay {
  display: none;
}

#projects .project > .card:hover {
  width: 50%;
  height: 550px;
  margin: 0;
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  .card-img-overlay {
    display: block;
    background: $primary-color;
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }

}

.btn-primary {
  background: $primary-color;
}
.alert, .notice {
  position: absolute;
  left: 45%;
  padding: 1%;
  color: #ffffff;
  border-radius: 4px;
}
.notice {
  background: $success;
}
.alert {
  background: $danger;
}
/* About me */
#about_me {
  background: $primary-color;
  color: #ffffff;
}

/* Contact */
#contact {
  background: $secondary-color;
  color: #ffffff;
  width: 100%;
}

#contact > form {
  width: 50%;
  margin: auto;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  align-items: center;
}

footer div:nth-child(1), footer p:nth-child(3) {
  width: 35%;
}
.social a {
  text-decoration: none;
}
.social a:first-of-type img{
  width: 8%;
  background: #ffffff;
  border : 2px solid $secondary-color;
  border-radius: 10px;
}
.social a:last-child img {
  width: 25%;
  background: #ffffff;
  border : 2px solid $secondary-color;
  border-radius: 10px;
}

#cookies-eu-banner{
  font-family: 'Montserrat', sans-serif !important;
  display: block;
  position: fixed !important;
  bottom: 0 !important;
  width: 100% !important;
  background: $primary-color !important;
  border: 1px solid #ffffff !important;
  z-index: 9999;
}


/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


/* Projects */
#projects {
  background: $secondary-color;
  color: #ffffff;
}

/* Recommandations */
.recommandations {
  background: #ffffff;
}

/* About me */
#about_me p {
  font-size: 20px;
}

/* Slider */
.glide__slides > li {
  height: 500px;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glide__slides > li p {
  color: $primary-color;
  font-size: 35px;
}

.glide button {
  background: $secondary-color;
  border: $secondary-color;
  color: #ffffff;
  padding: 0.5%;
  border-radius: 4px;


}

.glide__slides > li a {
  font-size: 45px;
  color: $primary-color;
  text-decoration: none;
  font-weight: bolder;
}
.glide__slides > li .col-md-6 {
  margin-top: 10%;
}

/* Timeline */
/* Media Queries */

@mixin mq-xs {
  @media (min-width: 320px) {
    @content;
  }
}

@mixin mq-sm {
  @media (min-width: 480px) {
    @content;
  }
}

@mixin mq-md {
  @media (min-width: 720px) {
    @content;
  }
}

@mixin mq-lg {
  @media (min-width: 1000px) {
    @content;
  }
}

$background: #ffff;
$box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
$border: 1px solid rgba(191, 191, 191, 0.4);
$items: 5;
$rows: ceil($items/2);

/* Card sizing */

$card-height: 560px;
$card-width: 500px;
$inner-margin: 30px;
$number-size: 35px;
$stagger: 180px;
$outer-margin: 150px;
$marker-size: 9px;

/* Colors */

$steps: $primary-color;
$colors: $primary-color,
$secondary-color,
$third-color,
$fourth-color;
$timeline: #bdbdbd;

/* Calculations */

$container-height: $rows * ($card-height + $outer-margin) + $stagger;
$container-width: $card-width*2 + $outer-margin*3;
$head-height: $number-size + 50;
$body-height: $card-height - $head-height;
$marker-dist: $card-width + $outer-margin/2 - $marker-size/2;

/* Placeholders */

@include mq-lg {
  %arrow {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
  %marker {
    position: absolute;
    content: "";
    width: $marker-size;
    height: $marker-size;
    background-color: $timeline;
    border-radius: $marker-size;
    box-shadow: 0px 0px 2px 8px $background;
  }
}


/* Some Cool Stuff */

$counter: $items - $rows + 2;
@for $i from 1 through $rows {
  .demo-card:nth-child(#{$i*2-1})   { order: $i }
  .demo-card:nth-child(#{$i*2})     { order: $counter }
  $counter: $counter + 1;
}

/* Border Box */

* {
  box-sizing: border-box;
}

/* Fonts */

section {
  padding: 100px 0;
  background: $background;
  border-top: $border;
  border-bottom: $border;
  h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 200;
    margin-bottom: 20px;
  }
  p.leader {
    text-align: center;
    max-width: 90%;
    margin: auto;
    margin-bottom: 45px;
  }
  .demo-card-wrapper {
    position: relative;
    margin: auto;
    @include mq-lg {
      display: flex;
      flex-flow: column wrap;
      width: $container-width;
      height: $container-height;
      margin: 0 auto;
    }
    &::after {
      z-index: 1;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      border-left: $border;
      @include mq-lg {
        border-left: 1px solid $timeline;
      }
    }
  }
  .demo-card {
    position: relative;
    display: block;
    margin: 10px auto 80px;
    max-width: 94%;
    z-index: 2;
    @include mq-sm {
      max-width: 100%;
      box-shadow: $box-shadow;
    }
    @include mq-md {
      max-width: 100%;
    }
    @include mq-lg {
      max-width: $card-width;
      height: $card-height;
      margin: $outer-margin;
      margin-top: $outer-margin/2;
      margin-bottom: $outer-margin/2;
      &:nth-child(odd) {
        margin-right: $outer-margin/2;
        .head::after {
          @extend %arrow;
          border-left-width: 15px;
          border-left-style: solid;
          left: 100%;
        }
        .head::before {
          @extend %marker;
          left: $marker-dist + 1;
        }
      }
      &:nth-child(even) {
        margin-left: $outer-margin/2;
        .head::after {
          @extend %arrow;
          border-right-width: 15px;
          border-right-style: solid;
          right: 100%;
        }
        .head::before {
          @extend %marker;
          right: $marker-dist - 1;
        }
      }
      &:nth-child(2) {
        margin-top: $stagger;
      }
    }
    .head {
      position: relative;
      display: flex;
      align-items: center;
      color: #fff;
      font-weight: 400;
      padding: 5%;
      .number-box {
        display: inline;
        float: left;
        margin: $inner-margin;
        padding: 10px;
        font-size: $number-size;
        line-height: $number-size;
        font-weight: 600;
        background: rgba(0, 0, 0, 0.17);
      }
      h2 {
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: inherit;
        letter-spacing: 2px;
        margin: 0;
        padding-bottom: 6px;
        line-height: 1rem;
        @include mq-sm {
          font-size: 165%;
          line-height: 1.2rem;
        }
        span {
          display: block;
          font-size: 0.6rem;
          margin: 0;
          @include mq-sm {
            font-size: 0.8rem;
          }
        }
      }
    }
    .body {
      background: #fff;
      border: $border;
      border-top: 0;
      padding: $inner-margin;
      @include mq-lg {
        height: $body-height;
      }
      p {
        font-size: 17px;
        line-height: 26px;
        margin-bottom: $inner-margin;
      }
      img {
        display: block;
        width: 25%;
        margin: auto;
      }
    }
    @for $i from 1 through $items {
      &--step#{$i} {
        $color: nth($colors, ((($i - 1) % 4) + 1));
        background-color: $color;
        .head::after {
          border-color: $color;
        }
      }
    }
  }
}
/**
 * ----------------------------------------
 * animation fade-in-left
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation flip-in-hor-bottom
 * ----------------------------------------
 */
@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@media all and (max-width:1000px) {
  h1 {
    font-size: 6rem;
    text-align: center;
  }
  .nav-item a {
    font-size: 3rem;
  }
  section h2 {
    font-size: 5rem;
  }
  #about_me p, section .demo-card .body p, .glide__slides > li p, p, ul, label {
    font-size: 3rem;
  }

  .glide__slides > li {
    padding: 1%;
    height: auto;
    width: 100% !important;
  }
  .glide__slides {
    overflow: visible;
  }

  .glide__slides > li a p:first-child {
    text-align: center;
  }
  .glide {
    padding: 5%;
  }
  .glide button, .btn.btn-primary {
    font-size: 3rem;
    padding: 2.5%;
  }

  #rc-anchor-container, .btn.btn-primary {
    width: 100%;
  }
  .glide div:first-child {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  section .demo-card .body p {
    line-height: 65px;
  }
  section .demo-card .head h2, section .demo-card .head .h2 {
    font-size: 5rem;
    line-height: 4.2rem;
  }

  section .demo-card .head h2 span, section .demo-card .head .h2 span {
    font-size: 3rem;

  }

  section .demo-card .head .number-box {
    padding: 30px;
    font-size: 55px;
  }

  section .demo-card .body {
    font-size: 3rem;
    line-height: 55px
  }

  #projects .project > .card {
    width: 100%;
    height: auto;

  }

  #projects .project > .card h3 {
    font-size: 5rem;
  }

  #projects .project > .card h4 {
    font-size: 4rem;
  }

  #projects .project > .card:hover{
    width: 100%;
    height: 2300px;
  }

  footer {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center
  }

  footer h4 {
    font-size: 4rem;
  }

  footer div:nth-child(1), footer p:nth-child(3) {
    width: 100%;
  }

  #contact > form {
    width: 100%;
  }
}






