@import "bootstrap";
/* Color Palettes */
$primary-color: #205a8a;
$secondary-color: #69A3BE;
$third-color: #2D81A6;
$fourth-color: #177AA2;
$fifth-color: #3C8BAB;
body {
  background: $fifth-color;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-primary:hover {
  background-color: $third-color;
  border-color: $third-color;
}
h5, h6 {
  color: $primary-color;
}

h1 {
  margin-top: 2%;
  margin-bottom: 2%;
}
.sidebar-content {
  .card-title{
    color: #ffffff;
  }
}

a {
  background-color: $primary-color;
  border-color: $primary-color;
  color: #ffffff;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

a:hover {
  background-color: $third-color;
  border-color: $third-color;
  color: #ffffff;
}

.btn-check:focus + .btn-primary, .btn-primary:focus{
  background-color: $third-color;
  border-color: $third-color;
}
.card {
  color: $primary-color;
}

.c-pointer {
  cursor: pointer;
}

.sub_task_checkbox, .sub_tasks_name {
  margin-right: 5%;
}
 .done {
   text-decoration: line-through;
 }
.navbar {
  background-color: $fourth-color;
}

.breadcrumb-item a, .breadcrumb-item a:before{
  color: #ffffff;
}

.breadcrumb {
  margin-left: 10px;
  padding-top: 10px;
}
.breadcrumb-item.active {
  color: #ffffff;
  font-weight: bold;
  margin-top: 5px;
}

.breadcrumb-item::before {
  color: #ffffff;
  font-weight: bold;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: #ffffff;
  font-weight: bold;
}
.menu{
  background: #205a8a;
  color: #000000;
}

.sidebar {
  background: $primary-color;
  height: 100vh;
  position: fixed;
  width: 400px;
  top: 0;
  bottom: 0;
  right: 0;
}

.custom_form {
  color: #205a8a;
}

.custom_form .actions input {
  background: #205a8a;
  color: #ffffff;
}

/* Sidebar */
.shortcut_icons {
  width: 250px;
  padding: 2%;
}

/* Tasks */
.tasks_link {
  cursor: pointer;
  width: 10%;
  margin-left: 1%;
}

.tasks_link:hover {
  border-bottom: 2px solid $fourth-color;
}

/* Loader */

.loader {
  color:  #205a8a;
  display: none;
  font-size: 30px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Kanban */
.card.kanban {
  background: $primary-color;
  h5 {
    color: white;
  }

  h6 {
    color: $primary-color;
  }

}

#tag_color {
  padding: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

#garbage {
  color: red;
  font-size: 25px;
}