<h1>Editing Backoffice Objective</h1>

<%= render 'backoffice/shared/custom_form',
           model: @objective,
           object_name: "backoffice_objective",
           model_params:@attributes,
           collection: @companies || [],
           form_path: backoffice_objectives_path,
           action: "update",
           method: "patch"
%>

