<h1>Backoffice Objectives</h1>
<div class="card">
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @objectives.each do |objective| %>
        <tr>
          <td><%= objective.name %></td>
          <td><%= objective.description %></td>
          <td><%= objective.start_date %></td>
          <td><%= objective.end_date %></td>
          <td><%= objective.status %></td>
          <td><%= link_to 'Show', backoffice_objective_path(objective) %></td>
          <td><%= link_to 'Edit', edit_backoffice_objective_path(objective) %></td>
          <td><%= link_to 'Destroy', backoffice_objective_path(objective), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Backoffice Objective', new_backoffice_objective_path, class: "btn btn-primary" %>

  </div>
</div>
