<h1>New Backoffice Objective</h1>

<%= render 'backoffice/shared/custom_form',
           model: @objective,
           object_name: "objective",
           model_params: @attributes,
           collection: @companies || [],
           form_path: backoffice_objectives_path,
           action: "create",
           method: "post"
%>
