<h1>Editing Backoffice pres Designation</h1>

<%= render 'backoffice/shared/custom_form',
           model: @backoffice_pres_designation,
           object_name: "backoffice_pres_designation",
           model_params:@attributes,
           collection: @companies || [],
           form_path: backoffice_pres_designations_path,
           action: "update",
           method: "patch"
%>
<%= link_to 'Show', @backoffice_pres_designation %>,  class: "btn btn-primary"%>
<%= link_to 'Back', backoffice_pres_designations_path ,  class: "btn btn-primary" %>
