<p id="notice"><%= notice %></p>

<h1>Backoffice pres Designations</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Number</th>
      <th>Designation</th>
      <th>Quantity</th>
      <th>Unit price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @backoffice_pres_designations.each do |backoffice_pres_designation| %>
      <tr>
        <td><%= backoffice_pres_designation.number %></td>
        <td><%= backoffice_pres_designation.designation %></td>
        <td><%= backoffice_pres_designation.quantity %></td>
        <td><%= backoffice_pres_designation.unit_price %></td>
        <td><%= link_to 'Show', backoffice_pres_designation %></td>
        <td><%= link_to 'Edit', edit_backoffice_pres_designation_path(backoffice_pres_designation) %></td>
        <td><%= link_to 'Destroy', backoffice_pres_designation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Backoffice pres Designation', new_backoffice_pres_designation_path %>
