<h1>New Backoffice pres Designation</h1>

<%= render 'backoffice/shared/custom_form',
           model: @backoffice_pres_designation,
           object_name: "pres_designation",
           model_params:@attributes,
           form_path: backoffice_pres_designations_path,
           collection: @collections || [],
           action: "create",
           method: "post"
%>
<%= link_to 'Back', backoffice_pres_designations_path %>
