<!-- Modal -->
<div class="modal fade" id="declaration_urssaf" tabindex="-1" aria-labelledby="declaration_urssaf_label" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="declaration_urssaf_label">Déclaration pour le mois de <%= t("date.month.#{Date.today.strftime("%B")}").downcase %> : <%= number_to_currency(@total_incomes, local: :fr) %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Prestations de service (BIC) avec acre 11%" aria-label="Prestations de service (BIC) avec acre 11%" aria-describedby="basic-addon2">
              <span class="input-group-text" id="basic-addon2">€ TTC</span>
              <h6 class="p-2">Soit </h6>
              <input type="text" class="form-control" placeholder="Versement liberatoire de l'impot sur le revenu (prestations bic) 1,70 %" aria-label="Versement liberatoire de l'impot sur le revenu (prestations bic) 1,70 %" aria-describedby="basic-addon2">
              <span class="input-group-text" id="basic-addon2">€ TTC</span>
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Vente de marchandises (bic) avec acre 6,40 % " aria-label="Vente de marchandises (bic) avec acre 6,40 % " aria-describedby="basic-addon2">
              <span class="input-group-text" id="basic-addon2">€ TTC</span>
              <h6 class="p-2">Soit </h6>
              <input type="text" class="form-control" placeholder="Versement liberatoire de l'impot sur le revenu (vente bic) 1,00 %" aria-label="Versement liberatoire de l'impot sur le revenu (vente bic) 1,00 %" aria-describedby="basic-addon2">
              <span class="input-group-text" id="basic-addon2">€ TTC</span>
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Prestations de services (bnc) avec acre 11,00 %" aria-label="Vente de marchandises (bic) avec acre 6,40 % " aria-describedby="basic-addon2">
              <span class="input-group-text" id="basic-addon2">€ TTC</span>
              <h6 class="p-2">Soit </h6>
              <input type="text" class="form-control" placeholder="Versement liberatoire de l'impot sur le revenu (prestations bnc) 2,20 %" aria-label="Versement liberatoire de l'impot sur le revenu (prestations bnc) 2,20 %" aria-describedby="basic-addon2">
              <span class="input-group-text" id="basic-addon2">€ TTC</span>
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Prestations de services (bnc) avec acre 11,00 %" aria-label="Vente de marchandises (bic) avec acre 6,40 % " aria-describedby="basic-addon2">
              <span class="input-group-text" id="basic-addon2">€ TTC</span>
              <h6 class="p-2">Soit </h6>
              <input type="text" class="form-control" placeholder="Versement liberatoire de l'impot sur le revenu (prestations bic) 1,70 %" aria-label="Versement liberatoire de l'impot sur le revenu (prestations bic) 1,70 %" aria-describedby="basic-addon2">
              <span class="input-group-text" id="basic-addon2">€ TTC</span>
            </div>
          </div>
          <div class="col-md-12 d-flex justify-content-between">
            <a href="#" class="btn btn-success" data-confirm="Are you sure?">Déclarer <%= number_to_currency(@total_incomes, local: :fr) %></a>
            <a href="#" class="btn btn-danger" data-confirm="Are you sure?">Payer <%= number_to_currency(@monthly_total_charges, local: :fr) %></a>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer la fenêtre</button>
      </div>
    </div>
  </div>
</div>