<div class="dashboard">
  <div class="container-fluid p-0 ">
    <div class="row mt-2">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="row d-flex justify-content-between">
              <div class="col">
                <h5 class="card-title">Chiffres d'affaire total : </h5>
                <p style="font-size:35px;"><%= number_to_currency(@annual_sales, locale: :fr) %></p>
              </div>
              <div class="col">
                <h5 class="card-title">Autres revenus : </h5>
                <p style="font-size:35px;"><%= number_to_currency(@annual_incomes, locale: :fr) %></p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h5 class="card-title">Charges totales annuelles :</h5>
                <p style="font-size:35px;"><%= number_to_currency(@total_annual_dues, local: :fr) %> </p>
              </div>
              <div class="col">
                <h5 class="card-title">Dépenses totales annuelles :</h5>
                <p style="font-size:35px;"><%= number_to_currency(@total_other_expenses, local: :fr) %> </p>
              </div>
              <div class="col">
                <h5 class="card-title">Revenus totaux nets :</h5>
                <p style="font-size:35px;"><%= number_to_currency(@annual_sales +  @annual_incomes - (@total_annual_dues + @total_other_expenses), local: :fr) %></p>
                <p>Soit une moyenne mensuelle de <%= number_to_currency((@annual_sales +  @annual_incomes - (@total_annual_dues + @total_other_expenses))/12, local: :fr) %></p>
              </div>
            </div>
            <h6 class="card-title">Période du 01/01/21 au <%= Date.current.end_of_month.strftime("%d/%m/%y")  %></h6>
            <%= column_chart [
                               {
                                 name: "Chiffre d'affaire",
                                 data: Income.where(income_type: "ca").group_by_month(:credit_date, format: "%b %Y").sum(:amount),
                                 stack: "stack 1"
                               },
                               {
                                 name: "Autres entrées",
                                 data: Income.where(income_type: "other").group_by_month(:credit_date, format: "%b %Y").sum(:amount),
                                 stack: "stack 1"
                               },
                               {
                                 name: "Total mois net",
                                 data: Income.group_by_month(:credit_date, format: "%b %Y").sum(:amount),
                               }
                             ]
            %>
            <a href="<%= backoffice_incomes_path %>" class="btn btn-primary">Détails CA</a>
            <a href="<%= backoffice_expenses_path %>" class="btn btn-primary">Détails charges</a>
          </div>
        </div>
        <div class="card mt-2">
          <div class="card-body">
            <h5 class="card-title"><a href="<%= backoffice_students_path %>">Suivi OpenClassrooms</a></h5>
            <p class="card-text">Pour le mois de <%= t("date.month.#{Date.today.strftime("%B")}").downcase %></p>
            <div class="row">
              <div class="col">
                <h5 class="card-title">Nombre de sessions réalisées</h5>
                <p style="font-size:35px;"><%= @done_sessions_current_month.count %> </p>
              </div>
              <div class="col">
                <h5 class="card-title">CA approximatif mentorat OpenClassrooms</h5>
                <p style="font-size:35px;"><%= @done_sessions_current_month.count * 35 %> €</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body d-flex flex-md-wrap justify-content-between">
            <section class="w-50">
              <h5 class="card-title">A déclarer</h5>
              <p class="card-text">Pour le mois de <%= t("date.month.#{Date.today.strftime("%B")}").downcase %></p>
              <p style="font-size:35px;"><%= number_to_currency(@monthly_sales, local: :fr)  %></p>
              <p> soit <strong><%= number_to_currency(@monthly_total_charges, local: :fr, precision:0)  %></strong> de cotisations</p>

            </section>
            <section>
              <h5 class="card-title">Autres revenus pour le mois</h5>
              <p class="card-text">Pour le mois de <%= t("date.month.#{Date.today.strftime("%B")}").downcase %></p>
              <p class="w-50" style="font-size:35px;"><%= number_to_currency(@monthly_incomes, local: :fr)  %></p>
            </section>
            <section class="text-center w-100 mt-5">
              <h5 class="card-title">Revenus totaux pour le mois:</h5>
              <p style="font-size:35px;"><%= number_to_currency((@monthly_sales+@monthly_incomes)-@monthly_total_charges, local: :fr)  %></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#declaration_urssaf" data-bs-whatever="<%= number_to_currency(@total_incomes, local: :fr)  %>">
                Déclaration URSAFF
              </button>
              <a target="_blank" href="https://authentification-candidat.pole-emploi.fr/connexion/XUI/?realm=%2Findividu&goto=https%3A%2F%2Fauthentification-candidat.pole-emploi.fr%3A443%2Fconnexion%2Foauth2%2Frealms%2Froot%2Frealms%2Findividu%2Fauthorize%3Frealm%3D%252Findividu%26response_type%3Did_token%2520token%26scope%3Dopenid%2520compteUsager%2520profile%2520contexteAuthentification%2520email%2520courrier%2520notifications%2520etatcivil%2520logW%2520individu%2520pilote%2520nomenclature%2520coordonnees%2520navigation%2520reclamation%2520prdvl%2520idIdentiteExterne%2520pole_emploi%2520suggestions%2520actu%2520application_USG_PN073-tdbcandidat_6408B42F17FC872440D4FF01BA6BAB16999CD903772C528808D1E6FA2B585CF2%26client_id%3DUSG_PN073-tdbcandidat_6408B42F17FC872440D4FF01BA6BAB16999CD903772C528808D1E6FA2B585CF2%26state%3DnGvAyPm5H7iP10w3%26nonce%3DSmKs3tw4i-xbYJP8%26redirect_uri%3Dhttps%253A%252F%252Fcandidat.pole-emploi.fr%252Fespacepersonnel%252F#login/" class="btn btn-primary">Déclaration PE</a>
            </section>
          </div>
        </div>
        <div class="card mt-2">
          <div class="card-body">
            <h5 class="card-title">A venir</h5>
            <p class="card-text">Factures en attente de paiement</p>
            <p style="font-size:35px;"><%= number_to_currency(@futur_incomes, local: :fr)  %></p>
            <a href="<%= backoffice_invoices_path %>" class="btn btn-primary">Mes factures</a>
          </div>
        </div>
        <div class="card mt-2">
          <div class="card-body">
            <h5 class="card-title">Dépenses pour le mois de <%= t("date.month.#{Date.today.strftime("%B")}").downcase %></h5>
            <a href="<%= backoffice_expenses_path %>"><p style="font-size:35px;"><%= number_to_currency(@month_expenses, local: :fr)  %></span></p></a>
            <a href="<%= backoffice_expenses_path %>" class="btn btn-primary">Toutes mes dépenses</a>
          </div>
        </div>

      </div>
      <%= render "declaration_ursaff" %>
<!--        <div class="card">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Chiffres clés</h5>-->
<!--            <p class="card-text">Pour l'année <%#= Date.today.strftime("%Y")%></p>-->
<!--            <table class="table">-->
<!--              <thead>-->
<!--              <tr>-->
<!--                <th scope="col">Type d'obligations</th>-->
<!--                <th scope="col">Montants annuels</th>-->
<!--                <th scope="col">Commentaires</th>-->
<!--                <th scope="col">liens utiles</th>-->
<!--              </tr>-->
<!--              </thead>-->
<!--              <tbody>-->
<!--              <tr>-->
<!--                <td>Cotisations sociales</td>-->
<!--                <td><%#= number_to_currency(@cotisations, local: :fr)  %></td>-->
<!--                <td>Grâce à l'ACRE pas de paiement tout de suite</td>-->
<!--                <td><a target="_blank" href="https://www.service-public.fr/professionnels-entreprises/vosdroits/F23547">Service public</a></td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>Impôts</td>-->
<!--                <td> <%#= number_to_currency(@income_tax, local: :fr)  %></td>-->
<!--                <td>Impôt libératoire </td>-->
<!--                <td><a target="_blank" href="https://www.service-public.fr/professionnels-entreprises/vosdroits/F23547">Service public</a></td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>Contribution à la formation pro</td>-->
<!--                <td> <%#= number_to_currency(@cfp, local: :fr)  %></td>-->
<!--                <td> </td>-->
<!--                <td><a target="_blank" href="https://www.service-public.fr/professionnels-entreprises/vosdroits/F23547">Service public</a></td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td colspan="1">Total annuel</td>-->
<!--                <td><%#= number_to_currency(@cotisations + @income_tax + @cfp, local: :fr) %></td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td colspan="1">Total mensuel</td>-->
<!--                <td><%#= number_to_currency((@cotisations + @income_tax + @cfp)/12, local: :fr) %></td>-->
<!--              </tr>-->
<!--              </tbody>-->
<!--            </table>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
  </div>
<div class="row mt-2">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Suivi des objectifs</h5>
        <% @objectives.each do |objective| %>
          <div class="card mt-2">
            <div class="card-body d-flex flex-wrap justify-content-between">
              <h5 class="card-title w-100"><%= objective.name %></h5>
              <% objective.sub_objectives.each do |sub_objective| %>
                <p><%= sub_objective.name %> : <%= number_to_percentage(sub_objective.progression / sub_objective.value.to_f*100, precision: 0)%></p>
                <div class="progress w-25 mb-1">
                  <div class="progress-bar progress-bar-striped bg-primary w-<%= sub_objective.progression / sub_objective.value.to_i*100 %>" role="progressbar" aria-valuenow="<%= sub_objective.progression / sub_objective.value.to_f*100 %>" aria-valuemin="0" aria-valuemax="<%= sub_objective.progression / sub_objective.value.to_f*100 %>"></div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <a href="<%= backoffice_sub_objectives_path %>" class="btn btn-primary mt-2">Mes sous-objectifs</a>
      </div>
    </div>
  </div>
</div>
  <div class="row mt-2">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Statut compte JVA-Web</h5>
          <h6 class="card-title">Au <%= Date.today.strftime("%d/%m/%Y")  %></h6>
          <a href="<%= backoffice_incomes_path %>" class="btn btn-primary">Ajouter une entrée</a>
          <a href="<%= backoffice_expenses_path %>" class="btn btn-primary">Ajouter une sortie</a>
          <a href="<%= backoffice_objectives_path %>" class="btn btn-primary">Détails des comptes</a>
        </div>
      </div>
    </div>
  </div>
</div>