<%= form_with(model: backoffice_task) do |form| %>
  <% if backoffice_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(backoffice_task.errors.count, "error") %> prohibited this backoffice_task from being saved:</h2>

      <ul>
        <% backoffice_task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.text_field :priority %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
