<h4>Semaine du <%= start_date.strftime('%d/%m') %> au <%= end_date.strftime('%d/%m') %> </h4>
<div class="row">
  <% days_of_week.each_with_index { |day, index| %>
    <div class="col p-1 ">
      <div class="card kanban">
        <div class="card-body drop_zone">
          <h5 class="card-title text-center mb-2 border-bottom" data-due_date="<%= index === 0 ? start_date : start_date+index.day %>"><%= day %> <%= (start_date+index.day).strftime('%d/%m')%></h5>
          <% tasks_planned.each do |task| %>
            <% if task.due_date == start_date+index.day %>
              <% if task.priority.name == "low" %>
                <div id="<%= task.id %>" class="card tasks mb-3 mt-3 list-group-item-info" draggable="true">
              <% elsif task.priority.name == "medium"  %>
                <div id="<%= task.id %>" class="card tasks mb-3 mt-3 list-group-item-warning" draggable="true">
              <% else %>
                <div id="<%= task.id %>" class="card tasks mb-3 mt-3 list-group-item-danger" draggable="true">
              <%end %>
              <div class="card-body p-1 d-flex justify-content-between flex-wrap">
                <% if !task.tag.nil? %>
                  <span class="badge" style="background: <%=task.tag.color %>;"><%= task.tag.name %></span>
                <% end %>
                <% if task.sub_tasks.count > 0 %>
                  <span class="badge bg-dark"><%= task.sub_tasks.where(task_id: task.id, status: 4).count %>/<%= task.sub_tasks.count %></span>
                <% end %>
                <h6 class="card-title text-center fs-6 p-1 w-100"><%= task.name %></h6>
                <i class="fas fa-edit c-pointer" data-bs-toggle="modal" data-bs-target="#subtaskModal_<%=task.id %>"></i>
                <i class="far fa-clone c-pointer"></i>
                <i class="fas fa-trash c-pointer delete_button"></i>
              </div>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="subtaskModal_<%=task.id %>" tabindex="-1" aria-labelledby="subtaskModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="subtaskModalLabel"><input type="text" class="form-control task_name" value="<%= task.name %>" id="<%=task.id %>"></h5>
                      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body sub_task_modal" data-task_id="<%= task.id %>">
                      <h6>Mes sous-tâches</h6>
                        <% if task.sub_tasks.count > 0 %>
                          <% task.sub_tasks.each do |sub_task| %>
                            <div class=" list_sub_tasks form-check d-flex align-items-center justify-content-start mb-1">
                              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                              <input type="hidden" class="task_id" value="<% task.id %>">
                              <input class="form-check-input sub_task_checkbox" type="checkbox" <%= sub_task.status_id ==  4 ? "checked" : ""%>>
                              <input type="text" placeholder="Sous-tâche" value="<%= sub_task.name %>" id="<%= sub_task.id %>" class="form-control sub_tasks_name border-0 <%= sub_task.status_id ===  4 ? "done" : "" %>" name="sub_task[name]">
                              <i class="fas fa-trash c-pointer remove_subtask"></i>
                            </div>
                          <% end %>
                        <% end %>
                      <div class="form form-check d-flex align-items-center justify-content-start mb-1">
                        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                        <input class="form-check-input sub_task_checkbox" type="checkbox">
                        <input type="text" data-task_id="<%= task.id %>" placeholder="Nouvelle sous-tâche" class="form-control sub_tasks_name w-50" name="sub_task[name]">
                        <input type="hidden" class="sub_task_status" value="<%= task.status_id %>" name="sub_task[status_id]">
                        <i class="fas fa-trash c-pointer remove_subtask"></i>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
          </div>
          </div>
        </div>
  <% } %>
  </div>
