<p id="notice"><%= notice %></p>

<h1>Mes tâches</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Priority</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |backoffice_task| %>
      <tr>
        <td><%= backoffice_task.name %></td>
        <td><%= backoffice_task.task_category %></td>
        <td><%= backoffice_task.priority.name %></td>
        <td><%= backoffice_task.status.name %></td>
        <td><%= link_to 'Show', backoffice_task_path(backoffice_task) %></td>
        <td><%= link_to 'Edit', edit_backoffice_task_path(backoffice_task) %></td>
        <td><%= link_to 'Destroy', backoffice_task_path(backoffice_task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

