<h1>Kanban</h1>

<section class="card mb-5 position-sticky">
  <div class="card-body drop_zone d-flex justify-content-lg-start flex-md-wrap">
    <h5 class="card-title w-100">Todo</h5>
    <% @tasks.each do |task| %>
      <% if task.priority.name == "low" %>
        <div id="<%= task.id %>" class="card tasks mb-2 list-group-item-info c-pointer" draggable="true">
          <div class="card-body">
            <h6 class="card-title text-center fs-6"><%= task.name %></h6>
          </div>
        </div>
      <% elsif task.priority.name == "medium" %>
        <div id="<%= task.id %>" class="card tasks mb-2 list-group-item-warning c-pointer" draggable="true">
          <div class="card-body">
            <h6 class="card-title text-center fs-6"><%= task.name %></h6>
          </div>
        </div>
       <% else %>
        <div id="<%= task.id %>" class="card tasks mb-2 list-group-item-danger c-pointer" draggable="true">
          <div class="card-body">
            <h6 class="card-title text-center fs-6"><%= task.name %></h6>
          </div>
        </div>
       <% end %>
    <% end %>
  </div>
</section>
<section class="card mb-5">
  <div class="card-body drop_zone d-flex justify-content-lg-start flex-md-wrap">
    <h5 class="card-title w-100">Tags</h5>
    <% @tags.each do |tag| %>
      <span id="<%= tag.id %>" draggable=true class="badge tags m-1 c-pointer" style="background: <%=tag.color%>;"><%= tag.name %></span>
    <% end %>
    <form class="d-flex w-100 mt-1 align-items-center justify-content-between">
      <div class="task d-inline-flex align-items-center">
        <input type="color" name="tag['color']" id="tag_color">
        <input type="text" name="tag['name']" id="tag_name" placeholder="Nom du tag" class="form-control w-50">
        <button type="button" class="btn btn-primary w-50" id="add_tag">Ajouter un tag</button>
      </div>
      <i id="garbage" class="fas fa-trash-alt c-pointer"></i>
    </form>
  </div>
</section>

<section class="container-fluid p-0 mb-5">
  <%= render 'kanban_card',
             start_date: Date.current.beginning_of_week,
             end_date: Date.current.end_of_week,
             days_of_week: @days_of_week,
             tasks_planned: @tasks_planned
  %>
</section>
<section class="container-fluid p-0 mb-5">
  <%= render 'kanban_card',
             start_date: Date.current.next_week.beginning_of_week,
             end_date: Date.current.next_week.end_of_week,
             days_of_week: @days_of_week,
             tasks_planned: @tasks_planned
  %>
</section>

<hr/>




