<% @task = Task.new %>

<%= form_for @task, url: url_for(controller: 'tasks', action: 'create'), remote: true do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% @task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="task d-inline-flex">
    <%= f.text_field :name, class: "form-control" %>
    <%= f.text_field :task_category, value: task_category, hidden: true, class: "form-control" %>
    <%= f.text_field :status_id, value: 3, hidden: true, class: "form-control" %>
    <%= f.text_field :priority_id, value: 1, hidden: true, class: "form-control" %>
    <%= text_field_tag :source_path, request.fullpath, hidden: true %>
    <%= f.submit t('create_task'), class: "btn btn-primary" %>
  </div>
<% end %>



