<%= render 'backoffice/shared/custom_show',
           model: @backoffice_task,
           object_path: edit_backoffice_task_path(@backoffice_task),
           model_params:@attributes,
           back: backoffice_tasks_path
%>
