<!DOCTYPE html>
<html>
<head>
  <title>JVA-Web</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track'=> 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track'=> 'reload' %>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-5620ZSPF97"></script>
  <script>
      function getCookie(cname) {
          let name = cname + "=",
              decodedCookie = decodeURIComponent(document.cookie),
              ca = decodedCookie.split(';');
          for(let i = 0; i <ca.length; i++) {
              let c = ca[i];
              while (c.charAt(0) == ' ') {
                  c = c.substring(1);
              }
              if (c.indexOf(name) == 0) {
                  return c.substring(name.length, c.length);
              }
          }
      }
      function gtag(){
          dataLayer.push(arguments);
      }
      window.dataLayer = window.dataLayer || [];
      gtag('js', new Date());
      gtag('config', 'G-5620ZSPF97');
      /* If no consent disabling google analytics */
      if(getCookie('hasConsent') === "false"){
          console.log("Disabling Google Analytics")
          window['ga-disable-G-5620ZSPF97'] = true;
      }
  </script>
</head>
  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">
            <a aria-current="page" href="<%= root_path %>"><%= image_pack_tag "logo.png", alt: "Logo Jva-Web" %></a>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item p-2">
                <a class="nav-link" aria-current="page" href="<%= root_path %>">Accueil</a>
              </li>
              <li class="nav-item p-2">
                <a class="nav-link" href="#services">Services</a>
              </li>
              <li class="nav-item p-2">
                <a class="nav-link" href="#projects">Projets</a>
              </li>
              <li class="nav-item p-2">
                <a class="nav-link" href="#about_me">A mon sujet</a>
              </li>
              <li class="nav-item p-2">
                <a class="nav-link" href="#reco">Recommandations</a>
              </li>
              <li class="nav-item p-2">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
              <li class="nav-item p-2">
                <%= link_to "Connexion espace pro", backoffice_root_path, class: "nav-link" %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <% if !notice.nil? %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
      <% end %>
      <% if !alert.nil? %>
        <div class="alert alert-danger" role="alert">
          <%= alert %>
        </div>
      <% end %>
      <%= yield %>
  <!-- main and footer into home/index.html.erb -->
      <div id="cookies-eu-banner" style="display: none;">
        En naviguant sur ce site, vous acceptez l'utilisation de cookies par Google Analytics à des fins de statistiques
        <button id="cookies-eu-accept">Accepter</button>
        <button id="cookies-eu-reject">Rejeter</button>
      </div>
  </body>
</html>
