<!DOCTYPE html>
<html>
<head>
  <title>JVA-Web</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_pack_tag 'backoffice', media: 'all', 'data-turbolinks-track'=> 'reload' %>
  <%= stylesheet_pack_tag 'backoffice', media: 'all', 'data-turbolinks-track'=> 'reload' %>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>
  <body>
    <main>
      <div class="container-fluid vh-100">
        <div class="wrapper m-5">
          <header>
            <%= render 'backoffice/shared/menu' %>
          </header>
          <div class="container-fluid p-0">
            <div class="col-md-9">
              <%= yield %>
            </div>
          </div>
          <%= render 'backoffice/shared/footer' %>
        </div>
        <%= render 'backoffice/shared/sidebar' %>
      </div>
    </main>
  </body>
</html>


