<div class="card-body">
  <h5 class="card-title"><%= t('.tools') %></h5>
  <h6 class="card-title">Calculatrice Pôle Emploi</h6>
  <p>Montant ARE net :</p><input type="number" value="52.18" class="form-control" id="are">
  <p>Nombre de jours :</p><input type="number" value="30" class="form-control" id="days">
  <p>Montant ARE :</p><input type="number" value="30" class="form-control" id="total_are" readonly>
  <p>CA déclaré : <input type="number" value="" class="form-control" id="declared_amount">
  <p>Total net ARE:</p><input type="number" class="form-control" id="final_are" readonly>
  <p>Total entrée (CA + autres revenus):</p><input type="number" class="form-control" id="total_incomes" readonly>
  <p>Nombre de jours supplémentaires de droit au chômage:</p><input type="number" value="" class="form-control" id="new_days" readonly>
</div>