<div class="custom_form">
  <div class="card">
    <div class="card-body">
      <%= form_with(model: model, url: { action: action }, method: :"#{method}") do |f| %>
        <% if model.errors.any? %>
          <div class="alert alert-danger" role="alert" id="error_explanation">
            <h2><%= pluralize(model.errors.count, "error") %> has/have been detected:</h2>
            <ul>
              <% model.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <% model_params.each do |param| %>
          <% name_param = param.first %>
          <% value_param = model.try(param.first) %>
          <% type_param = param.second %>
          <div class="mb-3">
            <% if name_param != "status"  %>
              <%= f.label :"#{name_param}", "#{t("#{name_param}")}" %>
            <% end  %>
            <% case type_param %>
            <% when 'string' %>
              <% if name_param == "status" %>
                <%= f.text_field :"#{name_param}", class: "form-control", id: "#{object_name+"_"+name_param}", value: value_param, hidden: true %>
              <% else %>
                <%= f.text_field :"#{name_param}", class: "form-control", id: "#{object_name+"_"+name_param}", value: value_param %>
              <% end %>
              </div>
            <% when 'text' %>
              <%= f.text_area :"#{name_param}", class: "form-control", id: "#{object_name+"_"+name_param}", value: value_param %>
              </div>
            <% when 'integer' %>
              <% unless name_param.include?('id') %>
                <%= f.number_field :"#{name_param}", class: "form-control", id: "#{object_name+"_"+name_param}", value: number_with_precision(value_param, precision: 2) %>
              <% end %>
              </div>
            <% when 'float' %>
              <%= f.number_field :"#{name_param}", step: "0.01", class: "form-control", id: "#{object_name+"_"+name_param}", value: number_with_precision(value_param, precision: 2) %>
              </div>
            <% when 'boolean' %>
              <%= f.check_box :"#{name_param}" %>
              </div>
            <% when 'date' %>
              <%= f.date_field :"#{name_param}", class: "form-control", id: "#{object_name+"_"+name_param}", value: value_param %>
              </div>
            <% when 'datetime' %>
              <%= f.datetime_local_field :"#{name_param}", class: "form-control", id: "#{object_name+"_"+name_param}", value: value_param %>
              </div>
            <% end %>
            <% if !@collections.empty? %>
              <% @collections.each do |collection| %>
                <% if !collection.empty? %>
                    <% if name_param ==  prepare_collection_for_form(collection) %>
                      <%= collection.model.column_names.include?("name") ? attribute = "name" : attribute = "firstname" %>
                      <div class="mb-3">
                        <%= f.collection_select(:"#{prepare_collection_for_form(collection)}", collection.all, :id, attribute, {include_blank:true}, {class: "form-control"}) %>
                      </div>
                    <% end %>
                <% end %>
              <% end %>
            <% end %>
        <% end %>
        <!-- Nested forms -->
        <% if object_name == "quotation" %>
          <h3><%= "#{t('add_new_line_to_quotation')}" %></h3>
          <% if !model.presta_designations.empty? %>
              <% model.presta_designations.order(:digit).each do |presta| %>
                <div class="d-flex nested-fields">
                  <div class="mb-3">
                    <%= f.label :digit %>
                    <%= f.text_field :digit, class: "form-control", value: presta.digit %>
                    <%= f.hidden_field :_destroy %>
                  </div>
                  <div class="mb-3">
                    <%= f.label :designation %>
                    <%= f.text_field :designation, class: "form-control", value: presta.designation %>
                  </div>
                  <div class="mb-3">
                    <%= f.label :quantity %>
                    <%= f.text_field :quantity, class: "form-control", value: presta.quantity %>
                  </div>

                  <div class="mb-3">
                    <%= f.label :unit_price %>
                    <%= f.text_field :unit_price, class: "form-control", value: presta.unit_price %>
                  </div>

                  <div class="mb-3">
                    <label for="action">Actions</label>
                    <%= link_to "Remove", '#', class: "remove_fields form-control" %>
                  </div>
                </div>
              <% end %>
          <% end %>
          <%= link_to_add_fields "#{t('add_new_line')}", f, :presta_designations %>
        <% end %>
        <% if object_name == "income" ||  object_name == "expense" || object_name == "backoffice_sub_objective" %>
          <div class="form-switch p-0 mb-2">
            <label class="form-check-label" for="recurrent_object_switch"><%= "#{t('recurrent_object')}" %></label>
            <input class="form-check-input m-1 recurrent_object_switch" type="checkbox" id="recurrent_object_switch">
          </div>
          <div class="recurrent_object_form d-none">
            <%= f.fields_for :recurrent_object, RecurrentObject.new do |recurrent_object_attributes|%>
              <%= recurrent_object_attributes.label :periodicity %>
              <%= recurrent_object_attributes.select :periodicity, ["Journalier", "Hebdomadaire", "Mensuel", "Annuel"], { include_blank: true }, {class: "form-control"}%>
              <%= recurrent_object_attributes.label :start_date %>
              <%= recurrent_object_attributes.date_field :start_date, {class: "form-control"} %>
              <%= recurrent_object_attributes.label :end_date %>
              <%= recurrent_object_attributes.date_field :end_date, {class: "form-control"} %>
            <% end %>
          </div>
        <% end %>
        <div class="actions">
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
  <%= link_to 'Retour', form_path, class: "btn btn-primary mt-3" %>
</div>
