<div class="card mt-5 w-100">
  <div class="card-body">
    <h5 class="card-title"><%= model.name %></h5>
    <% model_params.each do |param| %>
      <% value_param = model.try(param.first) %>
      <% if value_param != model.name %>
        <p class="card-text"><%= value_param %></p>
      <%end %>
    <% end %>
    <%= link_to "Modifier", object_path, class: "btn btn-primary" %>
    <%= link_to "Retour", back, class: "btn btn-primary" %>
  </div>
</div>