<nav class="menu d-flex p-2 align-items-center" style="--bs-breadcrumb-divider: '>';font-weight: bold; color:white;" aria-label="breadcrumb">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#menuModal"><i class="fas fa-bars"></i> <%= t('menu') %></button>
  <ol class="m-0 d-flex align-items-center list-unstyled">
    <li class="<% "breadcrumb-item" unless Rails.application.routes.recognize_path(request.env['PATH_INFO'])[:controller].include?('dashboard')%>"><a href="<%= backoffice_root_path %>"><%= t('dashboard') %></a></li>
    <li class="breadcrumb-item active p-0 m-0" aria-current="page"><%= Rails.application.routes.recognize_path(request.env['PATH_INFO'])[:controller].gsub('backoffice/', '').capitalize unless Rails.application.routes.recognize_path(request.env['PATH_INFO'])[:controller].include?('dashboard')%></li>
  </ol>
</nav>
<% if notice %>
  <% flash.each do |type, msg| %>
    <% if type == "notice" %>
      <div class="alert alert-success alert-dismissible fade show mb-0 mr-2" style ="margin-left:250px;" role="alert">
        <%= msg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% else %>
      <div class="alert alert-danger alert-dismissible fade show mb-0 mr-2" style ="margin-left:250px;" role="alert">
        <%= msg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
  <% end %>
<% end %>
<!--    <div class="profile">-->
<!--        <img src="" alt="user avatar">-->
<!--      <i class="fas fa-user-ninja"></i>-->
<%#= link_to current_user.email, edit_backoffice_user_registration_path %>
<!--    </div>-->
<div class="notifications">

</div>
</nav>

<!-- Full screen modal -->
<div class="modal fade" id="menuModal" tabindex="-1" aria-labelledby="menuModalLabel" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h4" id="menuModalLabel"><%= t('menu') %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- todo: generate menu dynamically > def menu into backoffice controller -->
        <div class="row">
          <h6><%= t('projects') %></h6>
          <ul class="list-unstyled">
            <li class="mb-1"><%= link_to "#{t('list_projects')}", backoffice_projects_path %></li>
            <li><%= link_to "#{t('create_new_project')}", new_backoffice_project_path %></li>
          </ul>
        </div>
        <div class="row">
          <h6><%= t('companies') %></h6>
          <ul class="list-unstyled">
            <li class="mb-1"><%= link_to 'Liste des clients', backoffice_companies_path %></li>
            <li><%= link_to 'Créer un nouveau client', new_backoffice_company_path %></li>
          </ul>
        </div>
        <div class="row">
          <h6><%= t('Contacts') %></h6>
          <ul class="list-unstyled">
            <li class="mb-1"><%= link_to 'Liste des contacts', backoffice_contacts_path %></li>
            <li><%= link_to 'Créer un nouveau client', new_backoffice_contact_path %></li>
          </ul>
        </div>
        <div class="row">
          <h6><%= t('quotations') %></h6>
          <ul class="list-unstyled">
            <li class="mb-1"><%= link_to 'Liste des devis', backoffice_quotations_path %></li>
            <li><%= link_to 'Créer un nouveau devis', new_backoffice_quotation_path %></li>
          </ul>
        </div>
        <div class="row">
          <h6><%= t('invoices') %></h6>
          <ul class="list-unstyled">
            <li class="mb-1"><%= link_to 'Liste des factures', backoffice_invoices_path,class: "btn btn-primary" %></li>
            <li><%= link_to 'Créer une nouvelle facture', new_backoffice_invoice_path,class: "btn btn-primary" %></li>
          </ul>
        </div>
        <div class="row">
          <h6><%= t('objectives') %></h6>
          <ul class="list-unstyled">
            <li class="mb-1"><%= link_to 'Liste des objectifs', backoffice_objectives_path,class: "btn btn-primary" %></li>
            <li><%= link_to 'Créer un nouvel objectif', new_backoffice_objective_path,class: "btn btn-primary" %></li>
          </ul>
        </div>
        <div class="row">
          <h6><%= t('sub_objectives') %></h6>
          <ul class="list-unstyled">
            <li class="mb-1"><%= link_to 'Liste des sous-objectifs', backoffice_sub_objectives_path,class: "btn btn-primary" %></li>
            <li><%= link_to 'Créer un nouveau sous-objectif', new_backoffice_sub_objective_path,class: "btn btn-primary" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
