<div class="container sidebar p-5 justify-content-center overflow-auto">
  <div class="content d-flex flex-column sidebar-body">
    <nav class="nav nav-pills mb-5">
      <div class="row">
        <div class="col p-0"><a class="nav-link p-0" aria-current="page" href="<%= backoffice_kanban_path %>"><%= image_pack_tag "media/images/icons/kanban.png", class: "shortcut_icons img-fluid" %></a></div>
        <div class="col p-0"><a class="nav-link  p-0" aria-current="page" href="<%= backoffice_units_path %>"><%= image_pack_tag "media/images/icons/020-customer.svg", class: "shortcut_icons img-fluid" %></a></div>
        <div class="col p-0"><a class="nav-link  p-0" aria-current="page" href="<%= backoffice_units_path %>"><%= image_pack_tag "media/images/icons/040-settings.svg", class: "shortcut_icons img-fluid" %></a></div>
        <div class="col p-0">
          <%= link_to destroy_user_session_path, method: :delete, class:"nav-link  p-0" do %>
            <%= image_pack_tag "media/images/icons/log-out.svg", class: "shortcut_icons img-fluid" %>
          <% end %>
        </div>
      </div>
    </nav>
    <div class="sidebar-content">
      <div class="card mb-3">
        <div class="card-body">
          <a class="mb-3" href="<%= backoffice_tasks_path %>"><h5 class="card-title"><%= t('.pro_title') %></h5></a>
          <h6 class="card-subtitle mb-2 text-muted"><%= t('current_week', beginning_week: Date.current.beginning_of_week.strftime('%d/%m'), end_week: Date.current.end_of_week.strftime('%d/%m')) %></h6>
          <%= render template: 'backoffice/tasks/new', :locals => {task_category: Task.task_categories[:is_professional]} %>
          <%= render template: 'backoffice/shared/tasks_list', :locals => { tasks_list: @pro_tasks_list } %>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <a class="mb-3" href="<%= backoffice_tasks_path %>"><h5 class="card-title"><%= t('.perso_title') %></h5></a>
          <h6 class="card-subtitle mb-2 text-muted"><%= t('current_week', beginning_week: Date.current.beginning_of_week.strftime('%d/%m'), end_week: Date.current.end_of_week.strftime('%d/%m')) %></h6>
          <%= render template: 'backoffice/tasks/new', :locals => {task_category: Task.task_categories[:is_personal] } %>
          <%= render template: 'backoffice/shared/tasks_list', :locals => { tasks_list: @perso_tasks_list, backoffice_task: Task.new } %>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= t('.next_events') %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= t('current_week', beginning_week: Date.current.beginning_of_week.strftime('%d/%m'), end_week: Date.current.end_of_week.strftime('%d/%m')) %></h6>
          <ul>
          <%# @week_events.each do |event|%>
<!--            <li><%#= link_to event.summary, event.html_link, target: "_blank" %></li>-->
          <%# end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="sidebar-footer">
      <div class="card mb-3">
        <!-- Tools -->
        <%= render "backoffice/shared/calculate_PE" %>
      </div>
    </div>
  </div>
</div>


