<div class="loader"></div>
<ul class="list-group mt-2">
  <% tasks_list.each do |task| %>
    <div class="task d-inline-flex">
      <% if task.priority.name == "low" %>
        <li class="list-group-item list-group-item-info" id="<%=task.id %>" data-priority="low" style="width:70%;"><%= task.name %></li>
        <%= image_pack_tag "media/images/icons/star-1.svg", class: "img-fluid tasks_link change_priority" %>
        <%= image_pack_tag "media/images/icons/checked-1.svg", class: "img-fluid tasks_link validate_task" %>
        <%= image_pack_tag "media/images/icons/minus-1.svg", class: "img-fluid tasks_link delete_task" %>
      <% elsif task.priority.name == "medium" %>
        <li class="list-group-item list-group-item-warning" id="<%=task.id %>" data-priority="medium" style="width:70%;"><%= task.name %></li>
        <%= image_pack_tag "media/images/icons/star-2.svg", class: "img-fluid tasks_link change_priority" %>
        <%= image_pack_tag "media/images/icons/checked-1.svg", class: "img-fluid tasks_link validate_task" %>
        <%= image_pack_tag "media/images/icons/minus-1.svg", class: "img-fluid tasks_link delete_task" %>
      <% elsif task.priority.name == "high" %>
        <li class="list-group-item list-group-item-danger" id="<%=task.id %>" data-priority="high" style="width:70%;" ><%= task.name %></li>
        <%= image_pack_tag "media/images/icons/star-3.svg", class: "img-fluid tasks_link change_priority" %>
        <%= image_pack_tag "media/images/icons/checked-1.svg", class: "img-fluid tasks_link validate_task" %>
        <%= image_pack_tag "media/images/icons/minus-1.svg", class: "img-fluid tasks_link delete_task" %>
      <% end %>
    </div>
  <% end %>
</ul>

